<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTENIDO MODULO inicio -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8" ng-cloak>
		<div class="row">
			<div class="col-md-12">
				<img src="./images/banner_sesar.png" style="width:100%;" class="img-responsive img-thumbnail">
				<hr>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
				  <h3 class="text-primary text-center">¿QUÉ ES USACSIA?</h3>
				  <hr class="bg-red">
				  <div class="panel-body lead text-justify">
					  La Unidad de Salud Ambiental, Control Sanitario e Inocuidad Alimentaria (USACSIA), del Servicio Departamental de Salud La Paz, es la Unidad encargada de aplicar normas y políticas nacionales para la regulación, control, vigilancia sanitaria, inocuidad alimentaria, certificación de establecimientos públicos y privados, mediante la implementación del carnet sanitario, certificado sanitario, registro sanitario, habilitación y autorización sanitaria, en todas las áreas de nuestra competencia garantizando que se brinden servicios de calidad a la población.
					  <hr>
					  <!--Administrador SEDES-->
					 <!--<div class="col-md-6" ng-if="rol == 1">
					  	<h3>El Administrador del SEDES tiene las siguientes funciones:</h3>
					  	<ul>
					  		<li>Gestión de establecimientos de salud.</li>
					  		<li>Gestión de los servicios de salud.</li>
					  		<li>Gestión de alertas tempranas.</li>
					  		<li>Gestión del Programa Ampliado de inmunización.</li>
					  		<li>Gestión de vacunas.</li>
					  		<li>Gestión de enfermedades.</li>
					  		<li>Gestión de tablas administrativas.</li>
					  	</ul>
					  </div>
					  <div class="col-md-6" ng-if="rol == 1">
					  	<h3 class="text-center">Manual de usuario</h3>
	                	<a href="./manuales/admin_sedes.pdf" target="_blank" class="text-center"><img ng-src="./manuales/portada_manual_admin_sedes.jpg" width="90%" height="400"></a>
					  </div> -->

				  	  <!--Administrador establecimiento-->
				      <!-- <div class="col-md-6" ng-if="rol == 2">
					  	<h3>El Administrador del establecimientos de salud tiene las siguientes funciones:</h3>
					  	<ul>
					  		<li>Edición de la información del establecimiento.</li>
					  		<li>Gestión de los servicios del establecimiento.</li>
					  		<li>Gestión de los consultorios del establecimiento.</li>
					  		<li>Gestión de los funcionarios del establecimiento.</li>
					  		<li>Asignación de horarios al personal médico.</li>
					  		<li>Gestión usuarios.</li>
					  	</ul>
					  </div>
					  <div class="col-md-6" ng-if="rol == 2">
					  	<h3 class="text-center">Manual de usuario</h3>
	                	<a href="./manuales/admin_estab.pdf" target="_blank" class="text-center"><img ng-src="./manuales/portada_manual_admin_estab.jpg" width="90%" height="400"></a>
					  </div> -->

					  <!--Médico-->
					  <!-- <div class="col-md-6" ng-if="rol == 4">
					  	<h3>Usted como médico tiene las siguientes funciones:</h3>
					  	<ul>
					  		<li>Creación de la boleta de referencia para un paciente.</li>
					  		<li>Asignar una cita programada a un paciente.</li>
					  		<li>En caso de que su establecimiento sea un hospital o centro de salud integral, contrareferenciar a un paciente.</li>
					  		<li>En caso de que su establecimiento sea un hospital o centro de salud integral, recibir las referencias realizadas a su establecimiento.</li>
					  		<li>Atención de un paciente que realizó la cita previa en su establecimiento.</li>
					  	</ul>
					  </div>
					  <div class="col-md-6" ng-if="rol == 4">
					  	<h3 class="text-center">Manual de usuario</h3>
	                	<a href="./manuales/medico.pdf" target="_blank" class="text-center"><img ng-src="./manuales/portada_manual_medico.jpg" width="90%" height="400"></a>
					  </div> -->

					  <!-- <div class="col-md-6" ng-if="rol == 6">
					  	<h3>Usted como admisionista del establecimiento tiene las siguientes funciones:</h3>
					  	<ul>
					  		<li>Gestión de la información del paciente.</li>
					  		<li>Asignación de un familiar a un paciente.</li>
					  		<li>Admisión de la referencia de un paciente (en el caso de que su establecimiento sea un hospital o centro de salud integral).</li>
					  		<li>Admisión de la contrareferencia de un paciente.</li>
					  		<li>Admisión de la cita médica.</li>
					  	</ul>
					  </div> -->
						  <!-- <div class="col-md-6" ng-if="rol == 6">
						  	<h3 class="text-center">Manual de usuario</h3>
		                	<a href="./manuales/admisionista.pdf" target="_blank" class="text-center"><img ng-src="./manuales/portada_manual_admisionista.jpg" width="90%" height="400"></a>
						  </div> -->
				  </div>
				</div>
			</div>	
		</div>	
	</div>
<!-- CONTENIDO MODULO fin -->
