<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTENIDO MODULO inicio -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8" ng-cloak>
		<div class="row">
			<div class="col-md-12">
				<img src="./images/banner_sesar.png" style="width:100%;" class="img-responsive img-thumbnail">
				<hr>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
				  <h3 class="text-primary text-center">¿QUÉ ES USACSIA?</h3>
				  <hr class="bg-red">
				  <div class="panel-body lead text-justify">
					  La Unidad de Salud Ambiental, Control Sanitario e Inocuidad Alimentaria (USACSIA), del Servicio Departamental de Salud La Paz, es la Unidad encargada de aplicar normas y políticas nacionales para la regulación, control, vigilancia sanitaria, inocuidad alimentaria, certificación de establecimientos públicos y privados, mediante la implementación del carnet sanitario, certificado sanitario, registro sanitario, habilitación y autorización sanitaria, en todas las áreas de nuestra competencia garantizando que se brinden servicios de calidad a la población.
					  <hr>
					 
				  </div>
				</div>
			</div>	
		</div>	
	</div>
<!-- CONTENIDO MODULO fin -->
