<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
    <div ng-include="'./templates/menu_lateral.html'"> </div>
    
<!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                   {{ajustes.pagina.titulo}}
                </h2>
                <hr>
            </div>
        </div>
        <!--HERRAMIENTAS PARA LA VISTA-->
        <div class="row">
            <div class="col-md-12">
            <div class="well well-sm">
               <strong class="pull-left lead">Herramientas: &nbsp;</strong>
                <form class="form-inline pull-left">
                <input type="text" class="form-control" placeholder="Filtrar por nombre de municipios" ng-model="searchText">
                </form>
            <div class="clearfix"></div>
                
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
            <!-- INICIO -->
            <div class="table-responsive">
                <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
                <div ng-show="!loading && !msg">No se encontraron resultados</div>
            
                <table class="table table-hovertable table-bordered table-striped table-hover" ng-show="!loading && msg" id="tbMuestras">
                     <thead>
                        <th class="text-primary">CI</th>
                        <th class="text-primary">APELLIDOS</th>
                        <th class="text-primary">NOMBRES</th> 
                        <th class="text-primary">NUMERO DE MUESTRA</th> 
                    </thead>
                    <tbody ng-repeat="muestra in muestra | filter:searchText | orderBy:sortType:sortReverse">
                      <tr>
                        <td>{{muestra.per_ci+" "+muestra.per_ci_expedido}}</td>
                        <td>{{muestra.per_apellido_primero+" "+muestra.per_apellido_segundo | uppercase}}</td>
                        <td>{{muestra.per_nombres}}</td>
                        <td>{{muestra.mue_num_muestra}}</td>                      
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- FIN -->
            <!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
            </div>
        </div>
    </div>