<!-- TOP-MENU inicio  -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTEXT-MENU  -->
    <div ng-include="'./templates/menu_lateral.html'">
    </div>
    <!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    {{ajustes.pagina.titulo}}
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Fecha inicial :</h4>   
                                    <div class="input-group" class="form-inline pull-left">
                                        <input  my-valid-date type="text" name="myDateInput1" class="form-control" id="fecha_ini1" placeholder="dd-mm-yyyy" ng-model="fechas.fecha1"  required >
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>         
                                    </div>
                                    <span class="messages" ng-show="getreporte.myDateInput1.$touched">
                                         <span ng-show="!getreporte.myDateInput1.$valid">La fecha es incorrecta....!!</span>    
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <h4>Fecha final :</h4>
                                    <div class="input-group" class="form-inline pull-left">
                                        <input  my-valid-date type="text" name="myDateInput2" class="form-control" id="fecha_fin1" placeholder="dd-mm-yyyy" ng-model="fechas.fecha2"  required >
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>         
                                    </div>
                                    <span class="messages" ng-show="getreporte.myDateInput2.$touched">
                                            <span ng-show="!getreporte.myDateInput2.$valid">La fecha es incorrecta....!!</span>    
                                    </span>
                                </div>
                                <div class="col-md-4 text-center">
                                    <br><br>
                                    <button class="btn btn-success" ng-click="get_rep(fechas.fecha1, fechas.fecha2)" ng-disabled="getreporte.$invalid" title="Ver Reportes"><span class="glyphicon glyphicon-chevron-down"></span> VER REPORTES </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
<!--         <div ng-show="loading" class="text-center"><br><img ng-src="./images/image.gif"></div>
        <div ng-show="!loading && !msg" class="well"><span class="glyphicon glyphicon-info-sign text-info"> </span> No se encontraron resultados</div>
 -->

        <div class="well well-sm" style="background-color:#fff;" ng-show="reportecas!=null" class="animated">
            <h4 class="text-center text-primary">{{"I. RECAUDACIÓN DEL " + fechas.fecha1 + " AL " + fechas.fecha2}} </h4>
            <hr class="bg-red">
            <!-- <button class="btn btn-default" onclick="generate_signos()"><span class="glyphicon glyphicon-save-file"></span> Exportar reporte en PDF</button>
            <br> -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="6">CARNÉ SANITARIO CAJA</td>
                    </thead>
                    <thead class="text-primary text-center">
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Contribuyente</th>
                        <th>C.I.</th>
                        <th>Fecha</th>
                        <th>Monto (Bs.)</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reportecas in reportecas">
                            <td>{{$index+1}}</td>
                            <td>{{reportecas.tra_nombre}}</td>
                            <td>{{reportecas.per_nombre_completo}}</td>
                            <td>{{reportecas.per_ci}}</td>
                            <td>{{reportecas.pt_fecha_ini}}</td>
                            <td align="right">{{reportecas.pt_monto | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-primary" align="right">RECAUDACIÓN TOTAL CARNÉ SANITARIO:</td>
                            <td class="lead">Bs. {{totales.totalcas | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" ng-if="cantcasbanco>0">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="7">CARNÉ SANITARIO BANCO</td>
                    </thead>
                    <thead class="text-primary text-center">
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Contribuyente</th>
                        <th>C.I.</th>
                        <th>Fecha</th>
                        <th>N° Transacción</th>
                        <th>Monto (Bs.)</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reportecasbanco in reportecasbanco">
                            <td>{{$index+1}}</td>
                            <td>{{reportecasbanco.tra_nombre}}</td>
                            <td>{{reportecasbanco.per_nombre_completo}}</td>
                            <td>{{reportecasbanco.per_ci}}</td>
                            <td>{{reportecasbanco.pt_fecha_ini}}</td>
                            <td>{{reportecasbanco.pt_transaccion_banco}}</td>
                            <td align="right">{{reportecasbanco.pt_monto | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-primary" align="right">RECAUDACIÓN TOTAL CARNÉ SANITARIO BANCO:</td>
                            <td class="lead">Bs. {{totales.totalcasbanco | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="6">CERTIFICADO SANITARIO FORMULARIO</td>
                    </thead>
                    <thead class="text-primary text-center">
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Contribuyente</th>
                        <th>C.I./NIT</th>
                        <th>Fecha</th>
                        <th>Monto (Bs.)</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reportecesfrom in reportecesfrom">
                            <td>{{$index+1}}</td>
                            <td>{{reportecesfrom.tra_nombre}}</td>
                            <td>{{reportecesfrom.propietario}}</td>
                            <td>{{reportecesfrom.identificador}}</td>
                            <td>{{reportecesfrom.et_fecha_ini}}</td>
                            <td align="right">{{reportecesfrom.et_monto | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-primary" align="right">RECAUDACIÓN TOTAL CERTIFICADO SANITARIO FORMULARIO:</td>
                            <td class="lead">Bs. {{totales.totalcesform | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" ng-if="cantcesfbanco>0">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="7">CERTIFICADO SANITARIO FORMULARIO BANCO</td>
                    </thead>
                    <thead class="text-primary text-center">
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Contribuyente</th>
                        <th>C.I./NIT</th>
                        <th>Fecha</th>
                        <th>N° Transacción</th>
                        <th>Monto (Bs.)</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reportecesfbanco in reportecesfbanco">
                            <td>{{$index+1}}</td>
                            <td>{{reportecesfbanco.tra_nombre}}</td>
                            <td>{{reportecesfbanco.propietario}}</td>
                            <td>{{reportecesfbanco.identificador}}</td>
                            <td>{{reportecesfbanco.et_fecha_ini}}</td>
                            <td>{{reportecesfbanco.op_transaccion_banco}}</td>
                            <td align="right">{{reportecesfbanco.et_monto | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-primary" align="right">RECAUDACIÓN TOTAL CERTIFICADO SANITARIO FORMULARIO BANCO:</td>
                            <td class="lead">Bs. {{totales.totalcesformbanco | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="6">ARANCEL ORDEN DE PAGO</td>
                    </thead>
                    <thead class="text-primary text-center">
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Contribuyente</th>
                        <th>C.I.</th>
                        <th>Fecha</th>
                        <th>Monto (Bs.)</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reporteorden in reporteorden">
                            <td>{{$index+1}}</td>
                            <td>{{reporteorden.ro_tramite}}</td>
                            <td>{{reporteorden.propietario}}</td>
                            <td>{{reporteorden.identificador}}</td>
                            <td>{{reporteorden.op_fecha_pagado}}</td>
                            <td align="right">{{reporteorden.op_monto_total | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-primary" align="right">RECAUDACIÓN TOTAL ORDEN DE PAGO:</td>
                            <td class="lead">Bs. {{totales.totalorden | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" ng-if="cantordenbanco>0">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="7">ARANCEL ORDEN DE PAGO BANCO</td>
                    </thead>
                    <thead class="text-primary text-center">
                        <th>N°</th>
                        <th>Detalle</th>
                        <th>Contribuyente</th>
                        <th>C.I.</th>
                        <th>Fecha</th>
                        <th>N° Transacción</th>
                        <th>Monto (Bs.)</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reporteordenbanco in reporteordenbanco">
                            <td>{{$index+1}}</td>
                            <td>{{reporteordenbanco.ro_tramite}}</td>
                            <td>{{reporteordenbanco.propietario}}</td>
                            <td>{{reporteordenbanco.identificador}}</td>
                            <td>{{reporteordenbanco.op_fecha_pagado}}</td>
                            <td>{{reporteordenbanco.op_transaccion_banco}}</td>
                            <td align="right">{{reporteordenbanco.op_monto_total | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-primary" align="right">RECAUDACIÓN TOTAL ORDEN DE PAGO BANCO:</td>
                            <td class="lead">Bs. {{totales.totalordenbanco | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <td class="text-primary text-center" colspan="6">{{"RECAUDACIÓN TOTAL DEL " + fechas.fecha1 + " AL " + fechas.fecha2}}</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-primary lead" align="right">TOTAL RECAUDADO</td>
                            <td class="lead" align="right">Bs. {{totales.total | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




<!-- script para la fecha  -->
<script type="text/javascript">
     $.datepicker.regional['es'] = {
     closeText: 'Cerrar',
     prevText: '< Ant',
     nextText: 'Sig >',
     currentText: 'Hoy',
     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
     monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
     dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
     dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
     dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
     weekHeader: 'Sm',
     dateFormat: 'dd-mm-yy',
     firstDay: 1,
     isRTL: false,
     showMonthAfterYear: false,
     yearSuffix: ''
     };

     $.datepicker.setDefaults($.datepicker.regional['es']);
        $( function() {
          $("#fecha_ini1" ).datepicker();
        } );
        $( function() {
          $("#fecha_fin1" ).datepicker();
        } );
</script>
<!-- fin scrip para la fecha -->