<div class="body_inicio">
	<div ng-include="'./templates/publico/menu_inicio_publico.html'"></div>
	<div class="bg-textura">
		<div class="row">
			<div class="col-md-12 ban_inicio_i">
				<img src="./images/banner_inicio.png" class="img-responsive ban_inicio_i">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-index">
					<div class="panel-heading" align="center">
						<h4><strong><span class="glyphicon glyphicon-credit-card"></span> &nbsp;Carné Sanitario</strong></h4>
					</div>
					<div class="panel-body">
						  El trámite del carné sanitario, ahora más rápido, en unos sencillos pasos:
						<ul>
							<li>Realizar el pago de Bs. 25 en caja de USACSIA.</li>
							<li>Realizar la consulta médica.</li>
							<li>Entregar una muestra de heces fecales.</li>
						</ul>
					</div>
					<center >
						<a href="#/servicios_ciudadanos/preregistro" class="btn btn-primary">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp; REGISTRARSE
						</a>
					</center>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-index">
					<div class="panel-heading" align="center">
						<h4><strong><span class="glyphicon glyphicon-qrcode"></span> &nbsp;Certificado Sanitario</strong></h4>
					</div>
					<div class="panel-body">
						  El trámite del certificado sanitario, a tu alcance:
						<ul>
							<li>Registre su establecimiento.</li>
							<li>Realizar el pago de Bs. 10 en caja de USACSIA.</li>
							<li>Cargar los reqisitos a la aplicación.</li>
							<li>Realizar el pago del arancel designado.</li>
						</ul>
					</div>
					<center >
						<a href="#/persona/create" class="btn btn-primary">
								<span class="glyphicon glyphicon-play"></span>&nbsp; INICIAR TRÁMITE
						</a>

					</center>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-index">
					<div class="panel-heading" align="center">
						<h4><strong><span class="glyphicon glyphicon-education"></span> &nbsp;Capacitación</strong></h4>
					</div>
					<div class="panel-body">
						  Aquí podrá encontrar guías de utilidad para usted:
						<ul>
							<li>Manejo de alimentos.</li>
							<li>Condiciones necesarias para la inspección sanitaria.</li>
							<li>Manuales de usuario.</li>
						</ul>
					</div>
					<center >
						<a href="#/persona/create" class="btn btn-primary">
								<span class="glyphicon glyphicon-info-sign"></span>&nbsp; ACCEDER
						</a>

					</center>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-index">
					<div class="panel-heading" align="center">
						<h4><strong><span class="glyphicon glyphicon-search"></span> &nbsp;Seguimiento de trámites</strong></h4>
					</div>
					<div class="panel-body">
						  A traves de este enlace usted podrá realizar el seguimiento de sus tramites.
						<ul>
							<li>Ingrese su CI.</li>
							<li>Ingrese el numero de trámite.</li>
							<li>Realice el seguimiento de su trámite.</li>
						</ul>
					</div>
					<center >
						<a href="#/seguimiento-tramite" class="btn btn-primary">
								<span class="glyphicon glyphicon-question-sign"></span>&nbsp; CONSULTAR
						</a>

					</center>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CONTENIDO MODULO inicio -->


		
<!-- CONTENIDO MODULO fin -->

<style type="text/css">
	.panel-index{
		padding:5px 5px  5px 5px;
		margin: 50px 25px 25px 25px;
	}
	.ban_inicio_i{
		width: 100%;
	}
	.body_inicio{
		background: #666666 url(./images/bg_textura.png) bottom no-repeat fixed; width: 100%;
	}
</style>