<!-- TOP-MENU inicio -->
<div class="header">
	<div class="col-md-12">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="" style="padding:0 10px;">
				<img src="./images/usacsia-logo-invert.png" style="height:47px;">
			  </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="#/inicio">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					Inicio</a></li>
				<li><a href="#/">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					¿Qu&eacute; es USACSIA?</a></li>
				<li class="dropdown">
				  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					Servicios al ciudadano:<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#/servicios_informacion/establecimientos_salud">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
						Trámite del Carné Sanitario</a></li>
					<li><a href="#/servicios_informacion/establecimientos_cercanos">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
						Trámite del Certificado Sanitario</a></li>
					<li><a href="#/servicios_ciudadanos/preregistro">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
						Registro Departamental de Personas</a></li>
					<li><a href="#/servicios_ciudadanos/preregistro">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
						Capacitación</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
					Ayuda<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
						Contáctanos</a></li>
					<li><a href="#/manual/ciudadano">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
						Ayuda para el ciudadano </a></li>
				  </ul>
				</li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				  <a href="#/login" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Acceso 
				  </a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
	</div>
</div>
<!-- TOP-MENU fin -->