<!--TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
	<div ng-include="'./templates/menu_lateral.html'">
	</div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          {{ajustes.pagina.titulo+" "+parasito.par_nombre}}
        </h2>
        <hr class="bg-red">
      </div>
    </div>
    
    <label class="control-label">Los campos marcados con asterisco<strong class="fg_red"> *</strong> son obligatorios</label>
    <!--FIN herramientas para la vista-->
    <div class="row">
      	<div class="col-md-12">
  		<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
  		<!-- INICIO -->
		<form name="userForm" novalidate>
			
	              		<div class="row">
	              			<div class="col-md-12">
	              				<div class="well well-sm" style="background-color:#fff;">
						            <div class="panel">
						              	<h4 class="text-primary text-center">DATOS DEL PARÁSITO</h4>
						              	<hr class="bg-red">
						              	<div class="panel-body">
							                <div class="row">
								                <div class="col-md-8">
									               	<label class="control-label ">Descripción:</label><br/>
									               	{{parasito.par_descripcion}}
								               	</div>
								               	<div class="form-group col-md-4">
								                  	<label for="sevref" class="control-label ">Clasificacion:<strong class="fg_red"> *</strong></label><br/>
								                  	{{parasito.par_clasificacion}}
								                </div>   
						 					</div>
											<div class="row">
								               	
						 					</div>
						 					<div class="col-md-12">
							 					<div class="col-md-6">
										              <select name="serv" class="form-control" ng-model="parasitoTratamiento.trat_id" ng-options="tratamiento.trat_id as tratamiento.trat_nombre+' '+tratamiento.trat_dosis+' '+tratamiento.trat_descripcion  for tratamiento in tratamiento" >
										              </select>
									            </div>
							 					<div class="col-md-6">
								 					<center>
										            	<button type="submit" class="btn btn-primary" ng-click="asigna_tratamiento_parasito()" ng-disabled="userForm.$invalid"><span class="glyphicon glyphicon-plus"></span> AGREGAR TRATAMIENTO</button>
										            </center>
										        </div>
						              		</div>
						           		 </div>
						           	</div>
						           	 <div class="panel">
						            <div class="panel-body">
						            <h4 class="text-primary text-center">TRATAMIENTOS PARA EL PARÁSITO</h4>
						    			<table class="table table-hovertable table-bordered table-striped table-hover">
						                <thead >
						                  <th >Nombre</th>
						                  <th >Dosis</th>
						                  <th >Descripción</th>
						                  <th >Eliminar</th>
						                </thead>

						                <tbody ng-repeat="tratamiento in ptrat">
						                  <tr>
						                    <td>{{tratamiento.trat_nombre}}</td>
						                    <td>{{tratamiento.trat_dosis}}</td>
						                    <td>{{tratamiento.trat_descripcion}}</td>
						                    <td>
						                      <button class="btn btn-danger" data-toggle="modal" ng-click="get_id(tratamiento.pt_id,tratamiento.trat_nombre )" data-target="#modalParasitoTratamiento" title="Quitar servicio a consultorio">
						                      <span class="glyphicon glyphicon-trash"></span></button>
						                      <!--CUADRO MODAL-->
						                      <div id="modalParasitoTratamiento" class="modal fade" role="dialog" tabindex="-1">
						                        <div class="modal-dialog">
						                          <div class="modal-content">
						                            <div class="modal-header bg-red">
						                              <button type="button" class="close" data-dismiss="modal">x</button>
						                              <h4 class="modal-title fg-white"> QUITAR TRATAMIENTO</h4>
						                            </div>
						                            <div class="modal-body lead text-center">
						                              ¿Esta seguro que desea retirar este tratamiento? 
						                              <div class="well well-sm">
						                                <strong>{{nombre}}</strong>
						                              </div>
						                            </div>
						                            <div class="modal-footer">
						                              <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
						                              NO</button>
						                              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="retirar()">
						                              <span class="glyphicon glyphicon-ok"></span>SI</button>
						                            </div>
						                          </div>
						                        </div>
						                      </div>
						                      <!-- fin moddal -->
						                    </td>
						                  </tr>
						                </tbody>
						                </table>
						            </div>

						        </div>
							</div>
					        <!-- ver habilitado por false -->
		 				</div>
		 				<div class="row">

						   
	             	</div>
	            </div>
		            
	       	</div>
   		</form>



   		<p ng-show="ajustes.pagina.success" class="alert alert-success">{{ajustes.pagina.success}}</p>
		<!-- FIN -->
		<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
		</div>
	</div>
</div>
<!-- CONTENIDO MODULO fin