<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-primary">
				<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
				{{ajustes.pagina.titulo}}
			</h2>
			<hr class="bg-red">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
			<!-- INICIO -->
			<label class="control-label">Los campos marcados con asterisco (<strong class="fg_red">*</strong>) son obligatorios</label>	
			<!-- CONTENIDO MODULO inicio -->
			<div class="well well-sm" style="background-color:#fff;">
			<h4 class="text-center text-primary">I. DATOS PROPIETARIO</h4>
                    <hr class="bg-red">  
                    <div class="row">
                        <div class="col-md-4">
                            <label for="nombreesr" class="control-label">Propietario:</label>
                            <input name="nombreesr" disabled class="form-control" id="nombre" type="Text" ng-model="propietario">
                        </div>
                        <div class="col-md-4">
                            <label for="resolucion" class="control-label">Establecimiento:</label>
                            <input disabled class="form-control" id="red" type="Text" ng-model="emp_tra.establecimiento_sol.ess_razon_social" >          
                        </div>   
                        <div class="col-md-4">
                            <label for="resolucion" class="control-label">Dirección:</label>
                            <input disabled class="form-control" id="red" type="Text" ng-model="direccion" >          
                        </div> 
                        <div class="col-md-2">
                            <label class="control-label ">Fecha:</label>
                            <div class="input-group">
                                  <label class="form-control">{{CurrentDate | date:'dd/MM/yyyy'}} </label>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                        </div>
                        <div class="col-md-2">
                              <label class="control-label ">Hora:</label>
                              <div class="input-group">
                                  <label class="form-control">{{CurrentDate | date:'HH:mm:ss'}}</label>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-time"></span>
                                  </span>
                              </div>
                        </div>
                            
						        <div class="col-md-4">
						        <label for="nombreesr" class="control-label">No de ficha:</label>
						        <input name="nombreesr" disabled class="form-control" id="nombre" type="Text" ng-model="emp_tra.empresa_tramite.et_numero_tramite">
						        </div>
						        <div class="col-md-4">
						        <label for="nombreesr" class="control-label">Tipo trámite:</label>
						        <input name="nombreesr" disabled class="form-control" id="nombre" type="Text" ng-model="emp_tra.empresa_tramite.et_tipo_tramite">
						        </div>
						        
						        <div class="col-md-6">
						        <label for="resolucion" class="control-label">Funcionario:</label>
						        <input disabled class="form-control" id="red" type="Text" ng-model="nombre" >
						        </div>
						    
                    </div> 
                    <br>
                    <h4 class="text-center text-primary">II. FICHAS DE INSPECCIÓN</h4>
                    <hr class="bg-red"> 
			<div class="row">
				<div class="col-md-12">
					<tabs>
					<!-- .............. FICHA 1 ................. -->
						<pane title="INFORME NARRATIVO 1">
							<br>
							<div class="well well-sm" style="background-color:#fff;">
								<div class="row">
									<div class="col-md-12">
										<form name="formficha1" novalidate ng-include="'forms/fichas_inspeccion/ficha1.html'">
											
 

										</form>
									</div>
								</div>	
							</div>
						</pane>
						<!-- .............. FICHA 2 ................. -->
						<pane title="INFORME NARRATIVO 2">
							<br>
							<div class="well well-sm"  style="background-color:#fff;">
								<div class="row">
									<div class="col-md-12">
										<form name="formficha2" novalidate ng-include="'forms/fichas_inspeccion/ficha2.html'">
											
 

										</form>
									</div>
								</div>	
							</div>
						</pane>
					<!-- .............. FICHA 3 ................. -->
						<pane title="FORMULARIO DE INSPECCIÓN">
							<br>
							<div class="well well-sm"  style="background-color:#fff;">
								<div class="row" >
									<div class="col-md-12">
										<form name="formficha3" novalidate ng-include="'forms/fichas_inspeccion/ficha3.html'">
											
 

										</form>
									</div>
								</div>	
							</div>
						</pane>
						<!-- .............. FICHA 6 ................. -->
						<pane title="CLASIFICACIÓN DE FABRICAS">
							<br>
							<div class="well well-sm" ng-controller="CrearFicha6Ctrl" style="background-color:#fff;">
								<div class="row">
									<div class="col-md-12">
										<form name="formficha6" novalidate ng-include="'forms/fichas_inspeccion/ficha6.html'">
											
 

										</form>
									</div>
								</div>	
							</div>
						</pane>
						<!-- .............. FICHA 5 VERO .. RENOMBRAR ................. -->
						<!-- <pane title="CONTROL DE SAUNAS">
							<br>
							<div class="well well-sm" ng-controller="CrearFichaHornoCtrl" style="background-color:#fff;">
								<div class="row">
									<div class="col-md-12">
										<form name="formfichaSauna" novalidate ng-include="'forms/fichas_inspeccion/fichaSauna.html'">
											
 

										</form>
									</div>
								</div>	
							</div>
						</pane> -->
						<!-- .............. FICHA 4 VERO .. RENOMBRAR ................. -->
						<pane title="CLASIFICACIÓN PARA HORNOS DE PANIFICACIÓN">
							<br>
							<div class="well well-sm" ng-controller="CrearFichaSaunaCtrl" style="background-color:#fff;">
								<div class="row">
									<div class="col-md-12">
										<form name="formfichaHorno" novalidate ng-include="'forms/fichas_inspeccion/fichaHorno.html'">
											
 

										</form>
									</div>
								</div>	
							</div>
						</pane>
						<!--  -->
					</tabs>
				</div>
			</div>
			</div><!-- fin de style bac -->
		</div>
		<!-- FIN -->
		<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
	</div>
	<script type="text/javascript">
	$(":file").filestyle({buttonText: " Abrir"});
    	//$('#fileInput').filestyle({buttonName : 'btn-warning'});
    </script>
</div>
