<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU -->
<div ng-include="'./templates/menu_lateral.html'"></div>

<div class="col-md-8 col-sm-8" >
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          {{ajustes.pagina.titulo}}
        </h2>
        <hr class="bg-red">
      </div>
    </div>
    <div class="well well-sm" style="background-color:#fff;">

      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center text-primary">
           I. Datos del establecimiento
          <hr class="bg-red">
          </h3>
        </div>
        <div class="col-md-12">
          <div ng-show="empresatramite.propietario.pjur_id">
            <div class="col-md-6 col-sm-6">
              <label class="text-primary">Propietario:</label>
              {{empresatramite.propietario.pjur_razon_social}}
            </div>
            <div class="col-md-6 col-sm-6">
              <label class="text-primary">C.I./NIT:</label>
              {{empresatramite.propietario.pjur_nit}}
            </div>
          </div>
          <div ng-show="empresatramite.propietario.per_id">
            <div class="col-md-6 col-sm-6">
              <label class="text-primary">Propietario:</label>
              {{propietario}} 
            </div>
            <div class="col-md-6 col-sm-6">
              <label class="text-primary">C.I./NIT:</label>
              {{documento}}
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6">
            <label class="text-primary">Razón Social del Establecimiento:</label>
            {{empresatramite.establecimiento_sol.ess_razon_social}}
          </div>
          <div class="col-md-6 col-sm-6">
            <label class="text-primary">Kardex:</label>
            {{empresatramite.empresa.emp_kardex}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6">
            <label for="tra" class="control-label text-primary">Trámite:</label>
             {{empresatramite.empresa_tramite.et_tipo_tramite}}
          </div>
          <div class="col-md-6 col-sm-6">
            <label for="tra" class="control-label text-primary">Número de trámite:</label>
             {{empresatramite.empresa_tramite.et_numero_tramite}}
          </div>
        </div>
<br>
        <div class="col-md-12">
        <h3 class="text-center text-primary">
           II. Datos del trámite
          <hr class="bg-red">
          </h3>
          <div class="table-responsive">
              <table class="table table-hovertable table-bordered table-striped table-hover"  >
                  <thead>
                        <th class="text-primary">Etapa</th>
                        <th class="text-primary">Estado</th>   
                  </thead>
                  <tbody ng-repeat="tce in tramitecerestado | orderBy:sortType:sortReverse">
                      <tr>
                          <td>{{tce.eta_nombre}}</td>
                          <td>{{tce.te_estado}}</td>
                         
                        </tr>
                      </tbody>
                  </table>
        </div>
        
              
        </div>
        </div>
<!--  "ver && user.rol_id==14 || user.rol_id==1"        <hr> -->
        <div ng-show=  class="col-md-12" align="center" ng-controller="PdfCertificadoCtrl" >
           <button type="button" class="btn btn-default" ng-click="openPdfCES()" >IMPRIMIR CERTIFICADO  <span class="glyphicon glyphicon-print"></span></button>
           <button type="button"  class="btn btn-default" ng-click="downloadPdfCES()">Descargar PDF CERTIFICADO  <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>
      
    </div>
</div>