  <div class="well well-sm" style="background-color:#fff;" ng-controller="UploadCiudCtrl as vista">
        <h4 class="text-center text-primary">I. DATOS GENERALES</h4>
        <hr class="bg-red">
        <br>
        <div class="row" ng-controller="apiAppCtrl_Pre as vm">
            <div class="col-md-3">
                <div class="well well-sm">
                    <div ng-if="thumbnail.dataUrl == ''">
                        <img ng-src="./images/perfil.jpg" align="center" class="img-responsive img-thumbnail"/>
                    </div>
                    <div ng-if="thumbnail.dataUrl != ''" style="height:190px !important; overflow:auto;">
                      <img ng-src="{{ thumbnail.dataUrl }}" align="center" class="img-responsive img-thumbnail"/>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="form-group">
                      <label>Cargar Imagen</label>
                      <input type="file" name="fileInput" id ="fileInput" class="filestyle" data-buttonText="Find file"  file-model="vista.ima_nombre" onchange="angular.element(this).scope().photoChanged(this.files)" />
                      <input type="hidden" name="" ng-model="persona.ima_nombre" value="{{persona.ima_nombre}}">
                      {{vista.ima_enlace}}
                      <br>
                    </div> 
                </div>
            </div>    
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Tipo de Documento</label>
                        <select class="form-control" name="tipo_doc" ng-model="persona.per_tipo_documento" ng-model-options="{ updateOn: 'blur' }" required>
                            <option value="CI">CARNET DE IDENTIDAD</option>
                            <option value="PASAPORTE">CARNET DE IDENTIDAD(EXTRANJERO)</option>        
                        </select>
                        <span class="messages" ng-show="addPersona.$submitted || addPersona.tipo_doc.$touched">
                           <span ng-show="addPersona.tipo_doc.$error.required">El campo es obligatorio.</span>
                        </span>
                    </div>
                    <div class="col-md-6" ng-show="nac">
                        <div ng-controller="PaisCtrl">
                            <label class="cotrol-label">Pais</label>    
                            <select class="form-control" name="nacionalidad" ng-model="persona.per_pais"  ng-options="pais.nac_id as pais.nac_nombre for pais in paises" ng-model-options="{ updateOn: 'blur' }" ng-required="required_p">
                            </select>
                            <span class="messages" ng-show="addPersona.$submitted || addPersona.nacionalidad.$touched">
                                <span ng-show="addPersona.nacionalidad.$error.required">El campo es obligatorio.</span>
                          </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6" >
                      <label class="control-label ">Número de documento: <strong class="fg_red">*</strong></label>
                      <label ng-show="nac">E-</label> 
                      <input type="number" class="form-control" name="ci" placeholder="Ej. 9999988" ng-model="persona.per_ci" ng-model-options="{ updateOn: 'blur' }"  min="100000" ng-required="required" ng-disabled="disabled" required>
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.ci.$touched">
                        <span ng-show="addPersona.ci.$error.required">El campo es obligatorio.</span>
                        <span ng-show="addPersona.ci.$error.min">Número de CI incorrecto.</span>
                        <span ng-show="pre_reg">ESTE NÚMERO YA SE ENCUENTRA REGISTRADO.</span>
                      </span>
                    </div>
                    <div class="col-md-2" ng-if="!nac">
                         <label class="control-label">Sufijo: </label>
                              <select class="form-control"  title="Mes" name="mes" ng-model="sufijo"  required placeholder="sufijo">
                                <option value="NO TIENE">NO TIENE</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                              </select>
                        </div>
                 
                    <div class="col-md-4" ng-show="exp">
                      <label class="control-label ">Expedido: <strong class="fg_red">*</strong></label>
                      <select class="form-control" name="ci_expedido" ng-model="persona.per_ci_expedido" ng-model-options="{ updateOn: 'blur' }" required>
                        <option value="LP">La Paz</option>
                        <option value="OR">Oruro</option>
                        <option value="PT">Potosi</option>
                        <option value="PA">Pando</option>
                        <option value="BN">Beni</option>
                        <option value="SC">Santa Cruz</option>
                        <option value="CB">Cochabamba</option>
                        <option value="CH">Chuquisaca</option>
                        <option value="TJ">Tarija</option>
                      </select>
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.ci_expedido.$touched">
                        <span ng-show="addPersona.ci_expedido.$error.required">El campo es obligatorio.</span>
                      </span>
                    </div> 
                    <div class="col-md-6" ng-show="exp_ext">
                      <label class="control-label ">Expedido: <strong class="fg_red">*</strong></label>
                        <input type="" class="form-control" name="exp_extranjero" value="EXTRANJERO" readonly disabled>
                    </div> 

                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                      <label for="nombre" class="control-label">Nombre: <strong class="fg_red">*</strong></label>
                      <input class="form-control" name="nombres" type="text" placeholder="Nombre" ng-model="persona.per_nombres" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadena" autofocus>
                      <span class="messages" ng-show="addPersona.nombres.$touched">
                        <span ng-show="addPersona.nombres.$error.required">El campo es obligatorio.</span>
                        <span ng-show="addPersona.nombres.$error.pattern">No se admiten símbolos especiales o números.</span>
                      </span>
                    </div>
                    <div class="col-md-4">
                      <label for="nombre" class="control-label">Apellido paterno: <strong class="fg_red">*</strong></label>
                      <input class="form-control" name="apellido_primero" type="text" placeholder="Apellido paterno" ng-model="persona.per_apellido_primero" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadena">
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.apellido_primero.$touched">
                        <span ng-show="addPersona.apellido_primero.$error.required">El campo es obligatorio.</span>
                        <span ng-show="addPersona.apellido_primero.$error.pattern">No se admiten símbolos especiales o números.</span>
                      </span>
                    </div>
                    <div class="col-md-4">
                      <label for="nombre" class="control-label">Apellido materno: <strong class="fg_red">*</strong></label>
                      <input class="form-control" name="apellido_segundo" type="text" placeholder="Apellido materno" ng-model="persona.per_apellido_segundo" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadena">
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.apellido_segundo.$touched">
                        <span ng-show="addPersona.apellido_segundo.$error.required">El campo es obligatorio.</span>
                        <span ng-show="addPersona.apellido_segundo.$error.pattern">No se admiten símbolos especiales o números.</span>
                      </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="fecha_creacion" class="control-label">Fecha de nacimiento: <strong class="fg_red">*</strong></label>
                        <div class="row">
                            <div class="col-md-4">
                              <div class='input-group date'>
                                </div>
                                  <select class="form-control" name="dia" ng-model="fechaNac.diac" ng-change="rest()" ng-options="dia.dia_id as dia.dia for dia in dias"   required>
                                    <option value="">Dia</option>
                                  </select>
                            </div>
                            <div class="col-md-4">
                              <select class="form-control" aria-label="MES" title="Mes" name="mes" ng-model="fechaNac.mesc" Rng-change="rest()" required placeholder="MES">
                                <option value="">Mes</option>
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                              </select>
                            </div>
                            <div class="col-md-4">

                              <select class="form-control" name="anio" aria-label="ANIO" ng-model="fechaNac.anioc" ng-change="rest()" ng-options="anio.anio as anio.anio for anio in anios"   required autofocus>
                                 <option value="">Año</option>
                              </select>
                               <input my-valid-date ng-model="fechaNacimiento" name="myDateInput" placeholder="dd-mm-aaaa" type="hidden" class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-pattern="patternFecha" readonly>
                               <input type="hidden" ng-model="d">

                            </div>  
                        </div> 
                        <span class="messages" ng-show="addPersona.myDateInput">
                            <span ng-show="addPersona.myDateInput.$error.pattern">La Fecha no es valida  :(.
                            </span>
                            <div ng-show=" var == 'cero'">
                              <span ng-show="addPersona.myDateInput.$error">No es una fecha correcta :(.  
                              </span>
                            </div>                  
                        </span>  
                    </div>      
                    <div class="col-md-6">
                        <label class="control-label">Sexo: <strong class="fg_red">*</strong></label>
                        <div class="row">
                          <div class="formulario">
                            <div class="radio">
                              <div class="col-md-6">
                                <input type="radio" name="genero" id="M" value="M" ng-model="persona.per_genero">
                                <label for="M">Masculino</label>
                              </div>
                              <div class="col-md-6">
                                <input type="radio" name="genero" id="F" value="F" ng-model="persona.per_genero">
                                <label for="F">Femenino</label>
                              </div>
                              <span class="messages" ng-show="addPersona.$submitted || addPersona.genero.$touched">
                                <span ng-show="addPersona.genero.$error.required">El campo es obligatorio.</span>
                              </span>
                            </div>
                          </div>
                       </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                      <label class="control-label">Email: </label>
                      <input type="email" class="form-control" name="email" placeholder="ejemplo@hotmail.com" ng-model="persona.per_email" ng-model-options="{ updateOn: 'blur' }"  >
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.email.$touched">
                        <span ng-show="addPersona.email.$error.email">Formato de email incorrecto.</span>
                      </span>
                    </div>
                    <div class="col-md-4">
                      <label class="control-label">Nro. Celular: <strong class="fg_red">*</strong></label>
                      <input type="number" class="form-control" name="numero_celular" placeholder="Ej. 78989898" ng-model="persona.per_numero_celular" ng-model-options="{ updateOn: 'blur' }" min="60000000" max="79999999" required>
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.numero_celular.$touched">
                        <span ng-show="addPersona.numero_celular.$error.required">El campo es obligatorio.</span>
                        <span ng-show="addPersona.numero_celular.$error.min">Número de celular incorrecto.</span>
                        <span ng-show="addPersona.numero_celular.$error.max">Número de celular incorrecto.</span>
                      </span>
                    </div>
                    <!-- <div class="col-md-4">
                      <label class="control-label">Permanencia:</label>
                      <select class="form-control" name="tipo_permanencia" ng-model="persona.per_tipo_permanencia">
                        <option value="RESIDENTE">RESIDENTE</option>
                        <option value="VISITANTE RECURRENTE NACIONAL">VISITANTE RECURRENTE NACIONAL</option>
                        <option value="VISITANTE EVENTUAL NACIONAL">VISITANTE EVENTUAL NACIONAL</option>
                        <option value="VISITANTE RECURRENTE EXTRANJERO">VISITANTE RECURRENTE EXTRANJERO</option>
                        <option value="VISITANTE EVENTUAL EXTRANJERO">VISITANTE EVENTUAL EXTRANJERO</option>
                      </select>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <label class="control-label">Ocupación: <strong class="fg_red">*</strong></label>
                      <input type="ocupacion" class="form-control" name="ocupacion" placeholder="Cajero" ng-model="persona.per_ocupacion" ng-model-options="{ updateOn: 'blur' }" required >
                      <span class="messages" ng-show="addPersona.$submitted || addPersona.ocupacion.$touched">
                        <span ng-show="addPersona.ocupacion.$error.required">El campo es obligatorio.</span>
                       </span>
                    </div>
                </div>
            </div>  
        </div> <!-- fin class row  -->
        <br>
        <h4 class="text-center text-primary">II. DIRECCIÓN</h4>
        <hr class="bg-red">
        <br>  
        <div class="row">
           <div class="col-md-4" ng-controller="MunicipioCtrl">
              <label class="control-label">Municipio: <strong class="fg_red">*</strong></label>
              <select class="form-control " name="municipio" ng-model="persona.mun_id"  ng-options="municipio.mun_id as municipio.mun_nombre for municipio in municipios" ng-change="ver_zonas(persona.mun_id)" required>
              <option value="">--Elige opcion--</option>
              </select>
              <span class="messages" ng-show="addPersona.$submitted || addPersona.municipio.$touched">
                  <span ng-show="addPersona.municipio.$error.required">El campo es obligatorio.</span>
             </span>
          </div> 
          <div class="col-md-3">
            <label class="control-label">Zona/Comunidad: <strong class="fg_red">*</strong></label>
              <select ng-show="!zon" class="form-control " name="zona_comunidad" ng-model="persona.zon_id"  ng-options="zona.zon_id as zona.zon_nombre for zona in zonas" required>
              </select>
              <!-- <input ng-show = "zon" type="text" class="form-control" name="zona_comunidad1" ng-model="persona.per_zona_comunidad.zon_nombre" ng-pattern="patternCadenaNumero" required> -->
              <span  class="messages" ng-show="addPersona.$submitted || addPersona.zona_comunidad.$touched">
                  <span ng-show="addPersona.zona_comunidad.$error.required">El campo es obligatorio.</span>
                  <span ng-show="addPersona.zona_comunidad.$error.pattern">Formato introducido es incorrecta.</span>
              </span>
              <span class="messages" ng-show="addPersona.$submitted || addPersona.zona_comunidad1.$touched">
                  <span ng-show="addPersona.zona_comunidad1.$error.required">El campo es obligatorio.</span>
                  <span ng-show="addPersona.zona_comunidad1.$error.pattern">Formato introducido es incorrecta.</span>
              </span>
          </div>

        </div>
        <br>   
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Calle/Avenida: <strong class="fg_red">*</strong></label>
                <input type="" class="form-control" name="avenida_calle" placeholder="avenida calle" ng-model="persona.per_avenida_calle" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero" >
                <span class="messages" ng-show="addPersona.avenida_calle.$touched">
                  <span ng-show="addPersona.avenida_calle.$error.required">El campo es obligatorio.</span>
                  <span ng-show="addPersona.avenida_calle.$error.pattern">No se admiten símbolos especiales.</span>
                </span>
            </div>    
            <div class="col-md-4">
              <label class="control-label">Número domicilio:</label>
              <input type="" class="form-control" name="numero" placeholder="Número" ng-model="persona.per_numero">
            </div>        
        </div>
        <br>      
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="well well-sm">
            <div class="checkbox">
                <label style="font-size: 1.5em">
                  <input type = "checkbox" ng-model = "para_enviar" title="Haga click aqui para habilitar o deshabilitar el envío del formulario"> 
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  <small style="font-size: 0.6em" class="text-primary" title="Haga click en la casilla de verificación del lado para editar los datos del ciudadano">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    ¿DESEA GUARDAR ESTE FORMULARIO?
                  </small>
                </label>
              </div>
            <button ng-show = "para_enviar" class="btn btn-primary" ng-click="submit($parent.persona,d);vista.enviar();reset(addPersona)" ng-disabled="addPersona.$invalid"><span class="glyphicon glyphicon-save"></span> {{ajustes.pagina.action}}</button>
            </div>    
          </div>
        </div>  
   </div> <!--  fin controlador upload  -->
    <script type="text/javascript">
      $(":file").filestyle({buttonText: " Abrir"});
       //$('#fileInput').filestyle({buttonName : 'btn-warning'});
    </script>
</div>
<p ng-show="$parent.ajustes.pagina.success" class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{$parent.ajustes.pagina.success}}
</p>
<style type="text/css">

  


.cont {
width: 96%;
max-width: 960px;
margin: 0 auto;
}
img {
width: 100%;
height: auto;
}
</style>