   <div  ng-controller="CrearFicha1Ctrl">
    <div class="row">

          <div class="col-md-4">
              <label for="resolucion" class="control-label">No carnet sanitario:</label>
              <input class="form-control" id="red" type="number" ng-model="ficha1.nocarnet" min="0">          
          </div> 
          <div class="col-md-4">
              <label for="resolucion" class="control-label">Extinguidores:</label>
              <input class="form-control" id="red" type="number" ng-model="ficha1.fi_extinguidor" min="0">     
          </div> 
          <div class="col-md-4">
              <label for="resolucion" class="control-label">Botiquin:</label>
              <input class="form-control" id="red" type="number" ng-model="ficha1.fi_botiquin" min="0">     
          </div>   
         
    </div>
    <hr>
    <div class="row">
        <h4 class="text-center text-primary">II. FICHA DE INSPECCIÓN</h4>
            <hr class="bg-red"> 
    </div>   
    <div class="row" >
          <div class="col-md-12">
          <label class="control-label">Alejados de focos de insalubridad no comunicados con viviendas: <strong class="fg_red">*</strong></label>
            <div class="formulario">
                <div class="radio">
                  <div class="col-md-4">
                    <input type="radio" name="foco_insalubridad" id="true1" value="true" ng-model="ficha1.fi1_foco_insalubridad">
                    <label for="true1">Si</label>
                  </div>
                  <div class="col-md-4">
                    <input type="radio" name="foco_insalubridad" id="false1" value="false" ng-model="ficha1.fi1_foco_insalubridad">
                    <label for="false1">No</label>
                  </div>
                  <span class="messages" ng-show="addPersona.$submitted || addPersona.foco_insalubridad.$touched">
                    <span ng-show="addPersona.foco_insalubridad.$error.required">El campo es obligatorio.</span>
                  </span>
                </div>
            </div>
          </div> 

    </div>
    <div class="row" >
          <div class="col-md-12">
          <label class="control-label">Exhibición de certificado sanitario: <strong class="fg_red">*</strong></label>
            <div class="formulario">
                <div class="radio">
                  <div class="col-md-4">
                    <input type="radio" name="exibe_certificado" id="true2" value="true" ng-model="ficha1.fi1_exibe_certificado">
                    <label for="true2">Si</label>
                  </div>
                  <div class="col-md-4">
                    <input type="radio" name="exibe_certificado" id="false2" value="false" ng-model="ficha1.fi1_exibe_certificado">
                    <label for="false2">No</label>
                  </div>
                  <span class="messages" ng-show="addPersona.$submitted || addPersona.exibe_certificado.$touched">
                    <span ng-show="addPersona.exibe_certificado.$error.required">El campo es obligatorio.</span>
                  </span>
                </div>
            </div>
          </div> 

    </div> 
    <div class="row" >
          <div class="col-md-12">
          <label class="control-label">Exhibición de Carné sanitario: <strong class="fg_red">*</strong></label>
            <div class="formulario">
                <div class="radio">
                  <div class="col-md-4">
                    <input type="radio" name="exibe_carnes" id="true3" value="true" ng-model="ficha1.fi1_exibe_carnes">
                    <label for="true3">Si</label>
                  </div>
                  <div class="col-md-4">
                    <input type="radio" name="exibe_carnes" id="false3" value="false" ng-model="ficha1.fi1_exibe_carnes">
                    <label for="false3">No</label>
                  </div>
                  <span class="messages" ng-show="addPersona.$submitted || addPersona.exibe_carnes.$touched">
                    <span ng-show="addPersona.exibe_carnes.$error.required">El campo es obligatorio.</span>
                  </span>
                </div>
            </div>
          </div> 

    </div>
    <br>
                  <div class="row">
                        <div class="col-md-6">
                            <label for="diagnostico" class="control-label ">Detalle de la infraestructura:<strong class="fg_red">*</strong></label><br>
                            <textarea name="diagnostico" ng-model-options="{ updateOn: 'blur' }" rows="6" cols="100" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Detalle de la infraestructura" ng-model="ficha1.fi1_infraestructura" required></textarea>
                            <span class="messages" ng-show="userForm.$submitted || userForm.diagnostico.$touched">
                            <span ng-show="userForm.diagnostico.$error.required">El campo es obligatorio</span>
                            </span>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                         <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ai" id="seleccion" ng-model="ficha1.fi1_servicios_higienicos">
                              <label for="seleccion">Servicios Higiénicos</label>
                              </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ag" id="agua" ng-model="ficha1.fi1_inodoro" ng-init="true" >
                              <label for="agua">Inodoro</label>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ag" id="calf" ng-model="ficha1.fi1_lavamanos_porcelana" ng-init="checked=false" >
                              <label for="calf">Lavamanos de porcelan</label>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-4">
                        <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ag" id="fri" ng-model="ficha1.fi1_otros_servicios" ng-init="checked=false" >
                              <label for="fri">Otros</label>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ag" id="room" ng-model="ficha1.fi1_jaboncillo" ng-init="checked=false" >
                              <label for="room">Jaboncillo</label>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ag" id="telf" ng-model="ficha1.fi1_toallas" ng-init="checked=false" >
                              <label for="telf">Toallas</label>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formulario">
                              <div class="checkbox">
                              <input class="checkbox" type="checkbox" name="ag" id="tv" ng-model="ficha1.fi1_duchas" ng-init="checked=false" >
                              <label for="tv">Duchas</label>
                              </div>
                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label for="equi" class="control-label ">Detalle Equipo :<strong class="fg_red">*</strong></label><br>
                            <textarea name="equi" ng-model-options="{ updateOn: 'blur' }" rows="6" cols="45" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="detalle equipo" ng-model="ficha1.fi1_detalle_equipo" required></textarea>
                            <span class="messages" ng-show="userForm.$submitted || userForm.equi.$touched">
                            <span ng-show="userForm.equi.$error.required">El campo es obligatorio</span>
                            </span>
                     </div>
                     <div class="col-md-6">
                            <label for="ut" class="control-label ">Detalle Utencilios:<strong class="fg_red">*</strong></label><br>
                            <textarea name="ut" ng-model-options="{ updateOn: 'blur' }" rows="6" cols="45" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Deatlle utencilios" ng-model="ficha1.fi1_detalle_utencilios" required></textarea>
                            <span class="messages" ng-show="userForm.$submitted || userForm.ut.$touched">
                            <span ng-show="userForm.ut.$error.required">El campo es obligatorio</span>
                            </span>
                     </div>
                     <div class="col-md-6">
                            <label for="ot" class="control-label ">Otros:<!-- <strong class="fg_red">*</strong> --></label><br>
                            <textarea name="ot" ng-model-options="{ updateOn: 'blur' }" rows="6" cols="100" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Otros" ng-model="ficha1.fi1_otros" ></textarea>
                           <!--  <span class="messages" ng-show="userForm.$submitted || userForm.ot.$touched">
                            <span ng-show="userForm.ot.$error.required">El campo es obligatorio</span>
                            </span> -->
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <label for="seguro" class="control-label ">Facilidades para el aseo personal:<!--  <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_aseo_personal" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                        <!-- <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Disposición de residuos Sólidos <!-- <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_residuos_solidos" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                        <!-- <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Disposición de residuos Sólidos <!-- <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="referencias.br_seguro" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                        <!-- <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Abastecimiento de agua <!-- <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_abastecimiento_agua" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                       <!--  <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div> 
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Control de insectos y roedores <strong class="fg_red">*</strong></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_control_insectos_roedores">
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                      <!--   <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Disposición de residuos Liquidos <!-- <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_residuos_liquidos" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                        <!-- <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Distribucion de dependencias<!-- <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_distribucion_dependencias" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                        <!-- <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    <div class="col-md-4">
                        <label for="seguro" class="control-label ">Conservacion de productos y materia prima <!-- <strong class="fg_red">*</strong> --></label>
                        <select class="form-control" name="seguro" ng-model="ficha1.fi1_conservacion_productos_materia_prima" >
                           <option value="BUENO">BUENO</option>
                            <option value="REGULAR">REGULAR</option>
                            <option value="MALO">MALO</option>
                            
                        </select>
                        <!-- <span class="messages" ng-show="userForm.$submitted || userForm.seguro.$touched">
                        <span ng-show="userForm.seguro.$error.required">El campo es obligatorio</span>
                        </span> -->
                    </div>
                    
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                            <label for="rec" class="control-label ">Recomendaciones:<strong class="fg_red">*</strong></label><br>
                            <textarea name="rec" ng-model-options="{ updateOn: 'blur' }" rows="6" cols="45" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Diagnostico" ng-model="ficha1.fi1_recomendaciones" required></textarea>
                            <span class="messages" ng-show="userForm.$submitted || userForm.rec.$touched">
                            <span ng-show="userForm.rec.$error.required">El campo es obligatorio</span>
                            </span>
                     </div>
                     <div class="col-md-6">
                            <label for="ob" class="control-label ">Observaciones:<strong class="fg_red">*</strong></label><br>
                            <textarea name="ob" ng-model-options="{ updateOn: 'blur' }" rows="6" cols="45" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Diagnostico" ng-model="ficha1.fi1_observacion" required></textarea>
                            <span class="messages" ng-show="userForm.$submitted || userForm.ob.$touched">
                            <span ng-show="userForm.ob.$error.required">El campo es obligatorio</span>
                            </span>
                     </div>
                    
                  </div>

                  <div ng-controller="RegistrarUbicacionInspeccionCtrl">
                    <div class="col-md-12 text-center" >
                        <br>
                        <button class="btn btn-primary text-center" ng-click="initMap()">GENERAR POSICIÓN</button>
                    </div>
                    <div class="panel" ng-if="ver_mapita">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="mapa_inspeccion" style="width: 100%; height: 600px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>           
                        <button ng-if="ver_mapita" type="submit" ng-click="submit($parent.ficha1)" class="btn btn-primary" ng-disabled="formficha1.$invalid" ><span class="glyphicon glyphicon-save"></span> GUARDAR FICHA</button>
                    </center>
                </div>
<!-- <center>
     
                  <button type="submit" data-toggle="modal" ng-click="submit($parent.ficha1)"  class="btn btn-primary" ng-disabled="formficha1.$invalid" ><span class="glyphicon glyphicon-save"></span> GUARDAR</button>
                 <!--  <a href="#/establecimientos/pacientes">
                  <button type="submit" data-toggle="modal"  class="btn btn-danger"  ><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
                  </a> -->
      </center> -->
</div>