<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
      <hr class="bg-red">
    </div>
  </div>
  <!--HERRAMIENTAS PARA LA VISTA-->
  <div class="row">
        <div class="col-md-12">
        <div class="well well-sm">
           <strong class="pull-left lead">Herramientas: &nbsp;</strong>
            <form class="form-inline pull-left">
            <input type="text" class="form-control" placeholder="Filtrar por nombre  de empresa o propietario" ng-model="dep_nombre">
            </form>
        <div class="clearfix"></div>
            
        </div>
        </div>
    </div>
  <!--FIN herramientas para la vista-->
  <div class="row">
    <div class="col-md-12 ">
    <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
    <!-- INICIO -->
    <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
    <div ng-show="!loading && !msg">No se encontraron resultados</div>
    <div class="table-responsive">
      <table class="table table-hovertable table-bordered table-striped table-hover" ng-show="!loading && msg" id="tablaES">
        <thead >
          <th class="text-primary">Nº</th>
          <th class="text-primary text-center" >Numero Trámite</th>
          <th class="text-primary text-center" >Propietario</th>
          <th class="text-primary text-center" >
            <a href="" ng-click="sortType = 'usa_nombre'; sortReverse = !sortReverse">
                    Nombre establecimiento
                <span ng-show="sortType == 'usa_nombre' && !sortReverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                <span ng-show="sortType == 'usa_nombre' && sortReverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
            </a>
          </th>
          <th class="text-primary text-center" >Tipo</th>
          <th class="text-primary text-center" ng-if="user.rol_id == '15'" >Revisar</th>
        </thead>
        <tbody ng-repeat="establecimiento in establecimientos | orderBy:sortType:sortReverse | filter:ess_razon_social | startFromGrid: currentPage * pageSize | limitTo: pageSize ">
          <tr>
          <td>{{$index + 1}}</td>
          <td>{{establecimiento.et_numero_tramite}}</td>
          <td>{{establecimiento.ess_propietario}}</td>
          <td> {{establecimiento.ess_razon_social}}</td>
          <td>{{establecimiento.ess_tipo}}</td>
          <td ng-if="user.rol_id == '15'" >
            <a class="btn btn-success" href="#/documento-tramite/revisar/{{establecimiento.et_id}}" title="Ver Establecimiento" ><span class="glyphicon glyphicon-folder-open"></span>&nbsp;  Requisitos</a>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center" ng-show="!loading && msg">
    <!-- Navegar hacia atrás -->
      <button class="btn btn-lg btn-primary" type='button' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo; Anterior</button>
      <!-- Navegar a una página especifica-->
      <button class="btn btn-lg btn-default" type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
      <!-- Navegar hacia adelante -->
      <button class="btn btn-lg btn-default" type='button' ng-disabled='currentPage >= data.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>Siguiente &raquo;</button>
    </div>
    <hr>
    
    <!-- FIN 
      <button ng-click="getEstablecimientos(9)">gettt</button>
    -->
    <!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
    </div>
  </div>
</div>
<!-- CONTENIDO MODULO fin -->
