<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
      <hr>
    </div>
  </div>
  <div class="col-md-12">
    
      <div ng-controller="BuscaPersonaRegistradaCtrl">
        <p>
          <h4 class="text-primary">Instrucciones</h4>
          Para la registrar un establecimiento:</b>
          <ul>
            <li>Debe ingresar en el buscador; el n&uacute;mero de carnet del usuario que solicita el registro de su establecimiento.</li>
            <li>Luego pulse en <b>Buscar</b></li>
          </ul>
        </p>
        
        <!-- Inicio Controller apiAppCtrl -->
         <div class="well well-sm">
           <div class="row">
            <form name="busqForm" novalidate>
             <div class="col-md-6 col-md-offset-2">
                <input ng-disabled="pjuridica!=null" name="perci" class="form-control input-lg" ng-model="per_ci" type="text" placeholder="Escriba el Nro. de C.I." required autofocus>
             </div>
             <div class="col-md-4">
                <button ng-disabled="pjuridica!=null" class="btn btn-primary btn-lg" ng-click="buscaPersona()"><span class="glyphicon glyphicon-search"></span><strong> BUSCAR</strong></button>
             </div>
            </form>
           </div>  
         </div>
          &nbsp;&nbsp;
          <!-- VER SI EXISTE LA PERSONA -->

            
            <div ng-show="loading" class="text-center"><br><img ng-src="./images/image.gif"></div>
            <div class="well well-sm" style="background-color:#fff;" class="animated">
                <div class="panel">
                    <h4 class="text-center text-primary">I. DATOS GENERALES</h4>
                    <hr class="bg-red">
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                              <div class="col-md-8">
                                <label for="rs" class="control-label">Razón Social: <strong class="fg_red">*</strong></label>
                                {{pjuridica.pjur_razon_social}}
                              </div>
                              <div class="col-md-4">
                                <label for="nit" class="control-label">NIT: <strong class="fg_red">*</strong></label>
                                {{pjuridica.pjur_nit}}
                              </div>
                        </div>  
                    </div>
                    <br/>
                    <div class="text-center">
                        <a href="#/establecimientosol/empresa"><button class="btn btn-success" ><span class="glyphicon glyphicon-repeat"></span>VOLVER A BUSCAR</button></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#/establecimientosol/crear/{{pjuridica.pro_id}}"><button class="btn btn-primary" ><span class="glyphicon glyphicon-book"></span>  REGISTRAR ESTABLECIMIENTO</button></a>
                          
                    </div>
                </div>
            </div>
        </div>  
          <!-- FIN -->


         <!--  <div class="row panel-group tabla-cuerpo">  -->
      </div>  
     <!-- fin ng-show -->
      <!-- fin datos del funcionario -->
    </div>  
  </div>
</div>


