<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          {{ajustes.pagina.titulo}}
        </h2>
	    <hr class="bg-red">
      </div>
    </div>
    <div class="row">
      	<div class="col-md-12">
  		<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
  		<!-- INICIO -->

  		<div ng-controller="UploadEstCtrl as vista"> 
	  		<div ng-controller="FechaEstCtrl">
	  		<label class="control-label">Los campos marcados con asterisco (<strong class="fg_red">*</strong>) son obligatorios</label>	
			<!-- CONTENIDO MODULO inicio -->
			<form role="form" name="addEstablecimiento" novalidate>
				<div class="row">
					<div class="col-md-12">
					<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
					<!-- INICIO -->
					<div class="well well-sm" style="background-color:#fff;">
						<h4 class="text-center text-primary">I. DATOS GENERALES</h4>
						<hr class="bg-red">
						<div class="row">
							<div class="col-md-4">
			                    <div class="well well-sm">
									<div ng-if="thumbnail.dataUrl == ''">
										<img ng-src="./images/centro.png" align="center" class="img-responsive img-thumbnail"/>
									</div>
									<div ng-if="thumbnail.dataUrl != ''" style="height:190px !important; overflow:auto;">
										<img ng-src="{{ thumbnail.dataUrl }}" align="center" class="img-responsive img-thumbnail"/>
									</div>
									<div class="clearfix">
									</div>
									<div class="form-group">
										<label>Cargar Imagen</label>
										<input type="file" name="fileInput" id ="fileInput" class="filestyle" data-buttonText="Find file"  file-model="vista.ie_nombre" onchange="angular.element(this).scope().photoChanged(this.files)" />
										<input type="hidden" name="" ng-model="establecimiento.ie_nombre" value="{{establecimiento.ie_nombre}}">
										<br>
									</div> 
			                    </div>
							</div>	
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-8">
										<label for="nombre" class="control-label">Nombre o razón social: <strong class="fg_red">*</strong></label>
					                    <input class="form-control" id="nombre" name="nombre" type="Text" placeholder="Nombre del establecimiento de salud" ng-model="establecimiento.es_nombre" ng-model-options="{ updateOn: 'blur' }" ng-pattern="patternNombreEstab" required autofocus>
					                    <span class="messages" ng-show="addEstablecimiento.nombre.$touched">
			        						<span ng-show="addEstablecimiento.nombre.$error.required">El campo es obligatorio.</span>
			    							<span ng-show="addEstablecimiento.nombre.$error.pattern">No se admiten símbolos especiales.</span>
		      							</span>
									</div>
									<div class="col-md-4">
									    <label for="codigo" class="control-label">Código: <strong class="fg_red">*</strong></label>
				                        <input type="number" class="form-control" id="codigo" name="codigo" placeholder="Código del establecimiento de salud" ng-model="establecimiento.es_codigo" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternNumero">
				                        <span class="messages" ng-show="addEstablecimiento.codigo.$touched">
			        						<span ng-show="addEstablecimiento.codigo.$error.required">El campo es obligatorio.</span>
			    							<span ng-show="addEstablecimiento.codigo.$error.pattern">Sólo se admiten números.</span>
		      							</span>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-8">
								     	<label for="resolucion" class="control-label">Resolución Ministerial: <strong class="fg_red">*</strong></label>
			                          	<input type="number" class="form-control" id="resolucion" name="resolucion" placeholder="Resolución Ministerial o Administrativa" ng-model="establecimiento.es_numero_rm" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternNumero">
				                        <span class="messages" ng-show="addEstablecimiento.resolucion.$touched">
			        						<span ng-show="addEstablecimiento.resolucion.$error.required">El campo es obligatorio.</span>
			        						<span ng-show="addEstablecimiento.resolucion.$error.pattern">Sólo se admiten números.</span>
		      							</span>
									</div>
									<div class="col-md-4">
										<label for="nit" class="control-label">NIT: <strong class="fg_red">*</strong></label>
				                      	<input type="number" class="form-control" id="nit" name="nit" placeholder="NIT" ng-model="establecimiento.es_nit" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternNumero">
			                            <span class="messages" ng-show="addEstablecimiento.nit.$touched">
			        						<span ng-show="addEstablecimiento.nit.$error.required">El campo es obligatorio.</span>
			        						<span ng-show="addEstablecimiento.nit.$error.pattern">Sólo se admiten números.</span>
		      							</span>
									</div>
								</div>  
								<br>
								<div class="row"> 
									<div class="col-md-4">
				                      	<label for="resolucion" class="control-label">Nivel: <strong class="fg_red">*</strong></label>
						           		<select class="form-control" name="nivel" ng-model="establecimiento.es_nivel" placeholder="Nivel" ng-model-options="{ updateOn: 'blur' }" required>
							                <option value="PRIMER NIVEL">PRIMER NIVEL</option>
							                <option value="SEGUNDO NIVEL">SEGUNDO NIVEL</option>
							                <option value="Tercer NIVEL">TERCER NIVEL</option>
							            </select>
						                <span class="messages" ng-show="addEstablecimiento.nivel.$touched">
			        						<span ng-show="addEstablecimiento.nivel.$error.required">El campo es obligatorio.</span>
		      							</span>
									</div>	  
									<div class="col-md-4">
				                      	<label for="red" class="control-label">Red: <strong class="fg_red">*</strong></label>
						        		<div ng-controller="RedCtrl">
						            		<select class="form-control" name="red" ng-model="establecimiento.red_id" ng-options="red.red_id as red.red_nombre for red in reds" ng-model-options="{ updateOn: 'blur' }" required>
						            		</select>
							  				<span class="messages" ng-show="addEstablecimiento.red.$touched">
				        						<span ng-show="addEstablecimiento.red.$error.required">El campo es obligatorio.</span>
			      							</span>
						            	</div>
									</div>	
									<div class="col-md-4">
				                      	<label for="tipo" class="control-label">Tipo: <strong class="fg_red">*</strong></label>
					         	        <div  ng-controller="TipoCtrl" >
								            <select class="form-control" name="tipo" ng-model="establecimiento.tip_id" ng-options="tipo.tip_id as tipo.tip_nombre for tipo in tipos" ng-model-options="{ updateOn: 'blur' }" required>
								            </select>
								            <span class="messages" ng-show="addEstablecimiento.tipo.$touched">
				        						<span ng-show="addEstablecimiento.tipo.$error.required">El campo es obligatorio.</span>
			      							</span>
								        </div>
									</div>	  
								</div>	  
								<br>
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-4">
							        	<label class="control-label">Inicio de atención: <strong class="fg_red">*</strong></label>
							            <div class="input-group clockpicker" data-align="top" data-autoclose="true">
			                            	<input type="text" class="form-control" name="hora_ini" placeholder="Ej: 08:30" ng-model="hora_ini" required ng-pattern="patternHora" ng-change="horas_atencion(hora_ini,establecimiento.es_horas)">
			                            	<span class="input-group-addon">
			                                	<span class="glyphicon glyphicon-time"></span>
			                            	</span>
			                        	</div>
			                        	<span class="messages" ng-show="addEstablecimiento.hora_ini.$touched">
					        				<span ng-show="addEstablecimiento.hora_ini.$error.required">El campo es obligatorio.</span>
					        				<span ng-show="addEstablecimiento.hora_ini.$error.pattern">No se permiten símbolos especiales o letras.</span>
			      						</span>
						         	</div>
							        <div class="col-md-4 col-sm-4 col-xs-4">
							        	<label class="control-label">Horas de atención: <strong class="fg_red">*</strong></label>
							            <select class="form-control" name="hora" ng-model="establecimiento.es_horas" ng-change="horas_atencion(hora_ini,establecimiento.es_horas)" required>
							                <option value="6">6</option>
							                <option value="9">9</option>
							                <option value="12">12</option>
							                <option value="24">24</option>
							            </select>
							            <span class="messages" ng-show="addEstablecimiento.hora.$touched">
					        				<span ng-show="addEstablecimiento.hora.$error.required">El campo es obligatorio.</span>
			      						</span>
							        </div>
							        <div class="col-md-4 col-sm-4 col-xs-4">
							            <label class="control-label">Final de atención:</label>
							            <input disabled type="" class="form-control" id="" placeholder="hh:mm" ng-model="hora_fin">
							        </div>
								</div>	

							</div>
						</div>
						
						<!-- <div class="col-md-12"> -->
								<br>
						<div class="row">
							<div class="col-md-6">
							  	<label for="fecha_creacion" class="control-label">Fecha de creación del Establecimiento de Salud: <strong class="fg_red">*</strong></label>
							  	<div class="row">
									<div class="col-md-4 col-sm-4">
									  	<div class='input-group date'>
			                          	</div>
			                            <select class="form-control" name="dia" ng-model="fechaC.diac" ng-change="rest()" ng-options="dia.dia_id as dia.dia for dia in dias" required>
			                            	<option value="">Dia</option>
							            </select>
									</div>
									<div class="col-md-4 col-sm-4">
										<select class="form-control" aria-label="MES" title="Mes" name="mes" ng-model="fechaC.mesc" ng-change="rest()" required placeholder="MES">
											<option value="">Mes</option>
			                                <option value="1">Enero</option>
			                                <option value="2">Febrero</option>
			                                <option value="3">Marzo</option>
			                                <option value="4">Abril</option>
			                                <option value="5">Mayo</option>
			                                <option value="6">Junio</option>
			                                <option value="7">Julio</option>
			                                <option value="8">Agosto</option>
			                                <option value="9">Septiembre</option>
			                                <option value="10">Octubre</option>
			                                <option value="11">Noviembre</option>
			                                <option value="12">Diciembre</option>
			                            </select>
									</div>
									<div class="col-md-4 col-sm-4">
										<input  type="number" class="form-control" name="anio" placeholder="Año" ng-model="fechaC.anioc" ng-change="rest()" pattern="[0-9]{4,4}" max="2018" min="1950" maxlength="4" required > 
										<input my-valid-date ng-model="fechaCreacion" name="myDateInput" placeholder="dd-mm-aaaa" type="hidden" class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-pattern="patternFecha" readonly>
									</div> 	
							    </div>   
						  		<span class="messages" ng-show="addEstablecimiento.myDateInput">
		    						<span ng-show="addEstablecimiento.myDateInput.$error.pattern">La Fecha no es valida  :(.
		    						</span>
		    						<div ng-if=" var == 'cero'">
		    							<span ng-show="addEstablecimiento.myDateInput.$error">No es una fecha correcta :(.	
		    							</span>
		    							<span ng-show="addEstablecimiento.myDateInput.$error.min">La fecha no debe ser menor a 1950.</span>
		    							<span ng-show="addEstablecimiento.myDateInput.$error.max">La fecha no debe ser menor a 2017.</span>
		    						</div>				    			
		      					</span>	                
							</div>

							<div class="col-md-6">
								<label for="fecha_inicio" class="control-label">Fecha de inicio de actividad:</label>
							  	<div class="row">
									<div class="col-md-4 col-sm-4">
										<select class="form-control" name="diaIA" ng-model="fechaIA.diaia" ng-change="fec_IA()" ng-options="dia.dia_id as dia.dia for dia in dias" required>
										 	<option value="">Dia</option>
							            </select>
									</div>
									<div class="col-md-4 col-sm-4">
										<select class="form-control" name="mesIA" ng-model="fechaIA.mesia" ng-change="fec_IA()" required>
											<option value="">Mes</option>
			                                <option value="1">Enero</option>
			                                <option value="2">Febrero</option>
			                                <option value="3">Marzo</option>
			                                <option value="4">Abril</option>
			                                <option value="5">Mayo</option>
			                                <option value="6">Junio</option>
			                                <option value="7">Julio</option>
			                                <option value="8">Agosto</option>
			                                <option value="9">Septiembre</option>
			                                <option value="10">Octubre</option>
			                                <option value="11">Noviembre</option>
			                                <option value="12">Diciembre</option>
			                            </select>
									</div>
									<div class="col-md-4 col-sm-4">
										<input  type="number" class="form-control" name="anioIA" placeholder="Año" ng-model="fechaIA.anioia" ng-change="fec_IA()" pattern="[0-9]{4,4}" max="2018" maxlength="4" required >
										<input  my-valid-date name="myDateInput1" ng-model="fechaInicio" placeholder="dd-mm-aaaa" type="hidden" class="form-control"  value="{{ fechaInicio }}" ng-model-options="{ updateOn: 'blur' }" ng-pattern="patternFecha" readonly> 
									</div>  		
							  	</div>  
							  	<span class="messages" ng-show="addEstablecimiento.myDateInput1">
		    						<span ng-show="addEstablecimiento.myDateInput1.$error.pattern">La Fecha no es valida  :(.
		    						</span>
		    						<div ng-if=" var2 == 'cero'">
		    							<span ng-show="addEstablecimiento.myDateInput1.$error">La fecha de inicio de actividad no puede ser anterior a la fecha de creacion :(...	
		    							</span>
		    						</div>				    			
	      						</span>	    
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6">
								<label for="pagina" class="control-label">Página Web:</label>
			                    <input type="url" name"pagina" class="form-control" id="pagina" ng-model="establecimiento.es_direccion_web" placeholder="Ej. http://mipaginaweb.com" ng-model-options="{ updateOn: 'blur' }">
			                    <span class="messages" ng-show="addEstablecimiento.pagina.$touched">
						            <span ng-show="addEstablecimiento.pagina.$error.url">Formato de página Web incorrecto.</span>
						        </span>
							</div>
							<div class="col-md-6">
		                      	<label for="inst" class="control-label">Institución de dependencia: <strong class="fg_red">*</strong></label>
	 				        	<div ng-controller="InstitucionCtrl">
					        		<select class="form-control" name="institucion" ng-model="establecimiento.ins_id" ng-options="institucion.ins_id as institucion.ins_nombre for institucion in instituciones" ng-model-options="{ updateOn: 'blur' }" required>
					        		</select>
					        		<span class="messages" ng-show="addEstablecimiento.institucion.$touched">
							            <span ng-show="addEstablecimiento.institucion.$error.required">El campo es obligatorio.</span>
							        </span>
					        	</div>
							</div>
						</div>
						<br>
						<h4 class="text-center text-primary">II. DIRECCIÓN DEL ESTABLECIMIENTO DE SALUD</h4>
						<hr class="bg-red">
						<div class="row">  
							<div class="col-md-3">
		                      	<label for="resolucion" class="control-label">Municipio: <strong class="fg_red">*</strong></label>
					            <div ng-controller="MunicipioCtrl">
						            <select class="form-control" name="municipio" ng-model="establecimiento.mun_id"  ng-options="municipio.mun_id as municipio.mun_nombre for municipio in municipios"  ng-model-options="{ updateOn: 'blur' }" required>
						            </select>
						            <span class="messages" ng-show="addEstablecimiento.municipio.$touched">
							            <span ng-show="addEstablecimiento.municipio.$error.required">El campo es obligatorio.</span>
							        </span>
						        </div>
							</div>	  
							<div class="col-md-3">
		                        <label class="control-label">Zona/Barrio: <strong class="fg_red">*</strong></label>
		                        <input type="" class="form-control" name="zonabarrio" placeholder="Zona/Barrio" ng-model="establecimiento.es_zona_localidad_comuni" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero">
		                        <span class="messages" ng-show="addEstablecimiento.zonabarrio.$touched">
		                        	<span ng-show="addEstablecimiento.zonabarrio.$error.required">El campo es obligatorio.</span>
							        <span ng-show="addEstablecimiento.zonabarrio.$error.pattern">No se admiten símbolos especiales.</span>
							    </span>
							</div>	  
							<div class="col-md-4">
		                        <label class="control-label">Calle/Avenida: <strong class="fg_red">*</strong></label>
		                        <input type="" class="form-control" id="calleavenida" name="calleavenida" placeholder="Calle/Avenida" ng-model="establecimiento.es_avenida_calle" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero">
		                        <span class="messages" ng-show="addEstablecimiento.calleavenida.$touched">
							        <span ng-show="addEstablecimiento.calleavenida.$error.required">El campo es obligatorio.</span>
							        <span ng-show="addEstablecimiento.calleavenida.$error.pattern">No se admiten símbolos especiales.</span>
							    </span>
							</div>	  
							<div class="col-md-2"><!--VALIDAR NUMEROS !!!!!!-->
		                        <label class="control-label">Número: <strong class="fg_red">*</strong></label>
		                        <input type="number" class="form-control" id="numero" name="numero" placeholder="Número" ng-model="establecimiento.es_numero" ng-model-options="{ updateOn: 'blur' }" required min="0">
		                        <span class="messages" ng-show="addEstablecimiento.numero.$touched">
							        <span ng-show="addEstablecimiento.numero.$error.required">El campo es obligatorio.</span>
							    </span>
							</div>	  
						</div>	
						<br>  
						<div class="row">
							<div class="col-md-6">
								<label class="control-label">Teléfono:</label>
							  	<div class="input-group">
		                          	<input type="number" class="form-control" name="telefono" placeholder="Ej: 2262626" ng-model="establecimiento.te_numero" ng-model-options="{ updateOn: 'blur' }" min="2000000" max="79999999">
		                          	<span class="input-group-btn">
								     	<button class="btn btn-secondary resaltar" type="button"><span class="glyphicon glyphicon-plus"></span></button>
								  	</span>
								    <span class="messages" ng-show="addEstablecimiento.telefono.$touched">
							          	<span ng-show="addEstablecimiento.telefono.$error.required">El campo es obligatorio.</span>
							          	<span ng-show="addEstablecimiento.telefono.$error.min">Número de teléfono incorrecto, el número no puede ser menor a 2000000.</span>
							          	<span ng-show="addEstablecimiento.telefono.$error.max">Número de teléfono incorrecto, el número no puede ser mayor a 79999999.</span>
							        </span>
							  	</div>
							</div>	  
							<div class="col-md-6">
								<label class="control-label">Email:</label>
							    <input type="email" name="email" class="form-control" placeholder="Ej. micorreo@hotmail.com" ng-model="establecimiento.es_correo_electronico" ng-model-options="{ updateOn: 'blur' }">
		                        <span class="messages" ng-show="addEstablecimiento.$submitted || addEstablecimiento.email.$touched">
						            <span ng-show="addEstablecimiento.email.$error.email">Formato de email incorrecto.</span>
						        </span>
							</div>	  
						</div>
						<br>	  
						<div class="row">
							<div class="col-md-6">
							    <label class="control-label">Fax:</label>
							    <input type="" class="form-control" id="" placeholder="Fax" ng-model="establecimiento.es_fax" ng-pattern="patternNumero">
							    <span class="messages" ng-show="addEstablecimiento.fax.$touched">
									<span ng-show="addEstablecimiento.fax.$error.pattern">Solo se admiten números.</span>
						        </span>
							</div>
							<div class="col-md-3">
		                        <label class="control-label">Latitud:</label>
		                        <input type="" class="form-control" id="" placeholder="Latitud" ng-model="establecimiento.es_latitud">
							</div>	  
							<div class="col-md-3">
		                        <label class="control-label">Longitud:</label>
		                        <input type="" class="form-control" id="" placeholder="Longitud" ng-model="establecimiento.es_longitud">
							</div>	  
						</div>	 
						<hr>
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<div class="well well-sm">
									<div class="checkbox">
										<label style="font-size: 1.5em">
										<input type = "checkbox" ng-model = "para_enviar" title="Haga click aqui para habilitar o deshabilitar el envío del formulario"> 
								        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
										<small style="font-size: 0.6em" class="text-primary" title="Haga click en la casilla de verificación del lado para registrar el establecimiento de salud">
											<span class="glyphicon glyphicon-hand-left"></span>
											<span class="glyphicon glyphicon-chevron-left"></span>
											¿DESEA GUARDAR ESTE FORMULARIO?
										</small>
								        </label>
									</div>
							        <br>
									<button ng-show = "para_enviar" type="submit" class="btn btn-primary" ng-click="submit($parent.establecimiento, fechaCreacion, fechaInicio, hora_ini, hora_fin); vista.enviar();reset(addEstablecimiento)" ng-disabled="addEstablecimiento.$invalid" title="Debe llenar todos los campos obligatorios de manera correcta"><span class="glyphicon glyphicon-save"></span> GUARDAR</button>
								</div>
							</div>	  
						</div>	  	
					</div>	
					
					<!-- FIN -->
					<!-- AQUI VAN LOS TABLAS O FORMULARIOS incrustados -->
					
					</div>
				</div>
			</form>
			<!-- CONTENIDO MODULO fin -->
			
			</div>
		</div>
		<p ng-show="ajustes.pagina.success" class="alert alert-success">{{ajustes.pagina.success}}</p>
		</div> <!-- fin controlador de imagen -->

		<!-- FIN -->
		<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
	</div>
	<script type="text/javascript">
    	$(":file").filestyle({buttonText: " Abrir"});
    	//$('#fileInput').filestyle({buttonName : 'btn-warning'});
	</script>
</div>

<!-- CONTENIDO MODULO fin -->
<script type="text/javascript">
$('.clockpicker').clockpicker();
//console.log('llamo 1');
</script>
