<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          {{ajustes.pagina.titulo}}
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      	<div class="col-md-12">
  		<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
  		<!-- INICIO -->
  		<!-- CONTENIDO MODULO inicio -->
			<form role="form" name="editEnfermedad">
				<div class="row">
					<div class="col-md-12">
					<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
					<!-- INICIO -->
  					<div class="well well-sm" style="background-color:#fff;">
  						
              <div class="well well-sm">
                Los campos marcados con asterisco (*) son obligatorios.
              </div>
              <p ng-show="settings.success" class="alert alert-success">{{settings.success}}</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="required-field-block">
                    <label for="nombre" class="control-label">Nombre de la enfermedad: <strong class="fg_red">*</strong></label>
                    <input type="text" name="nombre" placeholder="Nombre de la enfermedad" ng-model="enfermedad.enfermedad.enf_nombre" class="form-control" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero"></input>
                    <span class="messages" ng-show="editEnfermedad.nombre.$touched">
                      <span ng-show="editEnfermedad.nombre.$error.required">El campo es obligatorio.</span>
                      <span ng-show="editEnfermedad.nombre.$error.pattern">No se admiten símbolos especiales.</span>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="required-field-block">
                    <label for="nombre" class="control-label">Causas de la enfermedad: <strong class="fg_red">*</strong></label>
                    <input type="text" name="causas" placeholder="Causas de la enfermedad" ng-model="enfermedad.enfermedad.enf_causas" class="form-control" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero2"></input>
                    <span class="messages" ng-show="editEnfermedad.causas.$touched">
                      <span ng-show="editEnfermedad.causas.$error.required">El campo es obligatorio.</span>
                      <span ng-show="editEnfermedad.causas.$error.pattern">No se admiten símbolos especiales.</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="required-field-block">
                    <label for="nombre" class="control-label">Consecuencias de la enfermedad: <strong class="fg_red">*</strong></label>
                    <input type="text" name="consecuencias" placeholder="Consecuencias de la enfermedad" ng-model="enfermedad.enfermedad.enf_consecuencia" class="form-control" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero2"></input>
                    <span class="messages" ng-show="editEnfermedad.consecuencias.$touched">
                      <span ng-show="editEnfermedad.consecuencias.$error.required">El campo es obligatorio.</span>
                      <span ng-show="editEnfermedad.consecuencias.$error.pattern">No se admiten símbolos especiales.</span>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="required-field-block">
                    <label for="nombre" class="control-label">Prevención de la enfermedad: <strong class="fg_red">*</strong></label>
                    <input type="text" name="prevencion" placeholder="Prevención de la enfermedad" ng-model="enfermedad.enfermedad.enf_prevencion" class="form-control" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero2"></input>
                    <span class="messages" ng-show="editEnfermedad.prevencion.$touched">
                      <span ng-show="editEnfermedad.prevencion.$error.required">El campo es obligatorio.</span>
                      <span ng-show="editEnfermedad.prevencion.$error.pattern">No se admiten símbolos especiales.</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="required-field-block">
                    <label for="nombre" class="control-label">Descripción de la enfermedad: <strong class="fg_red">*</strong></label>
                      <textarea  class="form-control" name="descripcion" placeholder="Descripción de la enfermedad" style="resize: vertical;min-height:70px;max-height: 150px;" ng-model="enfermedad.enfermedad.enf_descripcion" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadenaNumero2"></textarea>
                      <span class="messages" ng-show="editEnfermedad.descripcion.$touched">
	                    <span ng-show="editEnfermedad.descripcion.$error.required">El campo es obligatorio.</span>
	                    <span ng-show="editEnfermedad.descripcion.$error.pattern">No se admiten símbolos especiales.</span>
	                  </span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <div class="well well-sm">
                    <div class="checkbox">
                      <label style="font-size: 1.5em">
                        <!-- INICIO trasladar el input checkbox dentro de aqui  -->
                        <input type = "checkbox" ng-model = "para_enviar" title="Haga click aqui para habilitar o deshabilitar el envío del formulario"> 
                        <!-- FIN trasladar el input checkbox dentro de aqui  -->
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        <small style="font-size: 0.6em" class="text-primary" title="Haga click en la casilla de verificación del lado para editar los datos del paciente">
                          <span class="glyphicon glyphicon-hand-left"></span>
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          ¿DESEA EDITAR ESTE FORMULARIO?
                        </small>
                      </label>
                    </div>
                    <br>
                    <button ng-show = "para_enviar" class="btn btn-primary" ng-click="submit($parent.enfermedad)" ng-disabled="editEnfermedad.$invalid" title="Debe llenar todos los campos obligatorios de manera correcta"><span class="glyphicon glyphicon-save"></span> {{ajustes.pagina.action}}</button>
                  </div>
                </div>    
              </div>
              <div class="row" align="center">
                <div class="col-md-4 col-md-offset-4 text-center">
                  
              		<!-- AQUI VAN LOS TABLAS O FORMULARIOS incrustados -->
                </div>
              </div>        
  					
  					</div>
					</div>
				</div>
			</form>
			<!-- CONTENIDO MODULO fin -->
			
		<p ng-show="ajustes.pagina.success" class="alert alert-success">{{ajustes.pagina.success}}</p>
		</div> <!-- fin controlador de imagen -->

		<!-- FIN -->
		<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
	</div>
</div>

<!-- CONTENIDO MODULO fin -->
