<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
      <hr>
    </div>
  </div>
  <div class="col-md-12">
    <!-- inicio contenido -->
  <div>
        <p>
          <h4 class="text-primary">Instrucciones</h4>
          Para el registro del pago de tramites:</b>
          <ul>
            <li>Debe ingresar el n&uacute;mero de C.I. o NIT en el respectivo buscador.</li>
            <li>Luego pulse en <b>Buscar.</b></li>
            <li>En el conjunto de resultados, pulse en <b>Seleccionar</b></li>
          </ul>
        </p>
        <!-- Inicio Controller apiAppCtrl -->
       <div class="well well-sm">
         <div class="row" >
          <form name="busqForm" novalidate>
            <div class="col-md-6 col-md-offset-2">
                <input name="parametro" class="form-control input-lg" ng-model="parametro" type="text" placeholder="Escriba el Nro. de C.I." required autofocus>
            </div>
             <div class="col-md-4">
             <button  class="btn btn-primary btn-lg" ng-disabled="busqForm.$invalid" ng-click="buscar()"><span class="glyphicon glyphicon-search"></span> BUSCAR</button>
             </div>
           </form>
         </div>  
       </div>

       <div><center><h3><span class="text-primary">RESULTADOS</span></h3>{{resultado}}</center></div>
        <div ng-if="ver"  ng-controller="ListaEstablecimientoPersonaCtrl">
          <div>
            <button type="button" class="btn btn-danger" ng-click="ver_est(ver_establecimientos,parametro)"><span class="glyphicon glyphicon-refresh"></span> TRAMITE RENOVACIÓN</button>
            <div ng-if="ver_establecimientos" >
              <h4>Estalecimientos registrados con este carné:</h4>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">

                    <thead>
                      <th class="text-center text-primary">Nro1.</th>
                      <th class="text-center text-primary">Nombre del establecimiento</th>
                      <th class="text-center text-primary">NIT del establecimiento</th>
                      <th class="text-center text-primary">Nro. ultimo trámite</th>
                      <th class="text-center text-primary">Estado del ultimo trámite</th>
                      <th class="text-center text-primary">Acción</th>
                    </thead>
                    <tbody ng-repeat="exp in establecimientos_x_persona">
                      <tr>
                        <td >{{$index+1}}</td>
                        <td>{{exp.ess_razon_social}}</td>
                        <td ng-show="exp.emp_nit">{{exp.emp_nit}}</td>
                        <td ng-show="!exp.emp_nit">SIN NUMERO</td>
                        <td ng-show="exp.numero_tramite">{{exp.numero_tramite}}</td>
                        <td ng-show="!exp.numero_tramite">SIN NUMERO</td>
                        <td >{{exp.estado_tramite}}</td>
                        <td ng-show="exp.tramite!='TRAMITE EN CURSO'">
                          <button ng-show="exp.tramite=='RENOVACION'" class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_id(exp.ess_id,exp.ess_razon_social)">
                            <span ><i class="glyphicon glyphicon-saved"></i></span>
                            <strong><em>{{exp.tramite}}</em></strong>
                          </button>
                          <button ng-show="exp.tramite=='INICIAR TRAMITE'" class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_id(exp.ess_id,exp.ess_razon_social)">
                            <span ><i class="glyphicon glyphicon-saved"></i></span>
                            <strong><em>{{exp.tramite}}</em></strong>
                          </button>

                        </td>
                        <td ng-show="exp.tramite=='TRAMITE EN CURSO'">
                          {{exp.tramite}}
                        </td>
                        <!--CUADRO MODAL-->
                        <div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header bg-red">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h3 class="modal-title fg-white"><span ><i class="glyphicon glyphicon-calendar"></i></span>  Asignar ficha</h3>
                            </div>
                            <div class="modal-body lead">
                              <h4>¿Desea crear un tramite de renovación para este establecimiento?</h4>
                              <div class="well well-sm text-justify" style="background-color:#ddd;">
                                <span></span>
                                <h3 class="text-center"><strong>{{ess_razon_social}}</strong></h3>
                          </div>    
                            </div>
                            <div class="modal-footer lead text-center">
                          <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> NO</button>
                          <button class="btn btn-primary" data-dismiss="modal" ng-click="crear_renovacion()"><span class="glyphicon glyphicon-ok"></span><strong>SI</strong></button> &nbsp;
                            </div>
                        </div>
                        </div>
                      </div>
                      <!-- CUADRO MODAL -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              
            </div>
          </div>
          
          <div ng-if="!ver_establecimientos">
            <div class="table-responsive" >
              <table class="table table-striped table-bordered">
                <thead>
                  <th class="text-center text-primary">Nro.</th>
                  <th class="text-center text-primary">Razón social</th>
                  <th class="text-center text-primary">C.I./NIT</th>
                  <th class="text-center text-primary">Nombre del establecimiento</th>
                  <th class="text-center text-primary">NIT del establecimiento</th>
                  <th class="text-center text-primary">Licencia de funcionamiento</th>
                  <th class="text-center text-primary">Acción</th>
                </thead>
                <tbody ng-repeat="persona in personas">
                  <tr>
                    <td ng-show="persona.per_nombres">{{$index+1}}</td>
                    <td ng-show="persona.per_nombres">{{persona.per_nombres}}{{persona.per_apellido_primero}}{{persona.per_apellido_segundo}}</td>

                    <td ng-show="persona.per_nombres">{{persona.per_ci+" "+persona.per_ci_expedido}}</td>
                    <td ng-show="persona.pjur_id">{{persona.pjur_razon_social}}</td>
                    <td ng-show="persona.pjur_id">{{persona.pjur_nit}}</td>
                    <td>{{persona.ess_razon_social}}</td>
                    <td>{{persona.emp_nit}}</td>
                    <td>{{persona.emp_licencia}}</td>
                    <td ><a href="" class="btn btn-success btn-xs" ng-click="boleta(persona)"><span class="glyphicon glyphicon-ok"></span> Realizar pago</a>
                    </td>
                    <td ng-show="persona.et_estado_pago!='PAGADO'">{{persona.et_estado_pago}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>  
        <!-- fin ng-show -->
</div>  




  <!-- fin contenido -->
  </div>
</div>
<!-- CONTENIDO MODULO fin -->
