<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
      <hr class="bg-red">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <strong class="pull-left lead">Herramientas: &nbsp;</strong>
        <form class="form-inline pull-left">
          <input type="text" class="form-control" placeholder="Filtrar por ..." ng-model="per_ci">
        </form>
        &nbsp;&nbsp;
        <button class="btn btn-default" onclick="generateFUN_AE()"><span class="glyphicon glyphicon-save-file"></span> Exportar lista en PDF</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
      <!-- INICIO -->
      <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
      <div ng-show="!loading && !msg">No se encontraron resultados</div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" ng-show="!loading && msg" id="table">
          <thead >
            <th class="text-primary" >
              <a href="" ng-click="sortType = 'pjur_nit'; sortReverse = !sortReverse">Nit 
              <span ng-show="sortType == 'pjur_nit' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-show="sortType == 'pjur_nit' && sortReverse" class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
            <th class="text-primary" >
              <a href="" ng-click="sortType = 'pjur_razon_social'; sortReverse = !sortReverse">Propietario 
              <span ng-show="sortType == 'pjur_razon_social' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-show="sortType == 'pjur_razon_social' && sortReverse" class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
            <th class="text-primary" >
              <a href="" ng-click="sortType = 'ess_razon_social'; sortReverse = !sortReverse">Establecimiento 
              <span ng-show="sortType == 'ess_razon_social' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-show="sortType == 'ess_razon_social' && sortReverse" class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
          
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '14' || user.rol_id == '3'">Ver Pago</th>
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '15' " >Revisar requisitos</th>
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '14' " >Ver Trámite</th>
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '14' ">Aprobación</th><!-- resp de area -->
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '2' ">Aprobación</th><!-- jefe de unidad -->
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '2' ">Aprobación</th><!-- tesoreria -->
            <th class="text-primary" ng-if="user.rol_id == '1' || user.rol_id == '17' ">Aprobación</th><!-- final -->
            <!-- <th>Editar</th>
            <th>Dar de baja</th> -->
          </thead>
          <tbody>
            <tr  ng-repeat="et in empresa_tramite  | orderBy:sortType:sortReverse | filter:per_ci">
             <td>{{et.pjur_nit}}</td>
              <td>{{et.pjur_razon_social}}</td>
              <td>{{et.ess_razon_social}}</td>
              <td class="text-center">
                <a href="#/boleta-ces-f1/{{et.et_id}}" class="btn btn-success" title="VER PAGO"><span class="glyphicon glyphicon-file"></span></a>
              </td>
              <td class="text-center" ng-if="user.rol_id == '1' || user.rol_id == '15'">
                <a href="#/documento-tramite/revisar/{{et.et_id}}" class="btn btn-success" title="REVISAR REQUISITOS"><span class="glyphicon glyphicon-file"></span></a>
              </td>
              <td class="text-center">
                <a href="#/seguimiento-tramite-ces/{{et.et_id}}" class="btn btn-success" title="VER TRÁMITE"><span class="glyphicon glyphicon-file"></span></a>
              </td>
              <!-- APROBACION 1 ng-if="user.rol_id == '6' || user.rol_id == '10' || user.rol_id == '4'"-->
              <td ng-if="user.rol_id == '1' || user.rol_id == '14' ">
                <!-- BOTON PARA CUADROS MODALES -->
                <button ng-disabled="refer.br_estado_referencia == true" class="btn btn-xm btn-warning glyphicon glyphicon-check" data-toggle="modal" ng-click="rec(et.et_id,et.pjur_razon_social)" data-target="#miCuadroModal1" title="Aprobacion de trámite" ></button>
                  <!--CUADRO MODAL-->
                  <div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                     <div class="modal-header bg-red">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title  fg-white">APROBACIÓN DE TRÁMITE</h4>
                  </div>
                 <div class="modal-body lead text-center">
                     Aprobación de la persona:<!--  {{nombre}} -->
                     <br>
                 <div class="well well-sm">
                  <strong>{{nombre | uppercase}}</strong>
                </div>
                <div class="row">
                    <!-- <div class="col-md-4">
                      <div class="formulario">
                         <div class="checkbox">
                                <input class="checkbox" type="checkbox" name="acomp" id="M" value="M" ng-model="checkedI" ng-click="reset_acomp(checkedI)">
                                <label for="M">Tiene Observación</label>
                          </div>
                      </div>
                    </div> --><!--ng-if="checkedI"  -->
                    <!-- <input type="checkbox" name="checkbox" ng-model="checkedI">ng-if="checkedI" --> 
                   
                    
                        <label for="acomp" class="control-label ">¿Tiene alguna Observación?</label>
                        <br>
                        <textarea name="acomp" ng-model-options="{ updateOn: 'blur' }" rows="3" cols="20" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Observación" ng-model="datos.te_observacion"></textarea>
                   
                   
                </div>
                </div>
                      <div class="modal-footer"><!-- ,checkedI -->
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="recepcionar1(datos.te_observacion)"><span class="glyphicon glyphicon-ok"></span> GUARDAR </button>
                  
                      </div>
                    </div>
                  </div>
                </div>
                <!--FIN CUADRO MODAL-->
              </td>
      
              <!-- APROBACIÓN 2 -->
                <td ng-if="user.rol_id == '1' || user.rol_id == '2'">
                <!-- BOTON PARA CUADROS MODALES -->
                <button ng-disabled="pt.pt_estado_tramite == 'APROBADO'" class="btn btn-xm btn-warning glyphicon glyphicon-check" data-toggle="modal" ng-click="rec(et.et_id,et.pjur_razon_social)" data-target="#miCuadroModal2" title="Aprobacion de trámite" ></button>
                  <!--CUADRO MODAL-->
                <div id="miCuadroModal2" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title fg-white">APROBACIÓN DE TRÁMITE</h4>
                          </div>
                          <div class="modal-body lead text-center">
                             Aprobación de la persona:
                             <br>
                              <div class="well well-sm">
                                  <strong>{{nombre | uppercase}}</strong>
                              </div>
                              <!-- <div  class=" col-md-8 lead text-center" > -->
                                <label for="acomp" class="control-label ">¿Tiene alguna Observación?</label>
                                <br>
                                <textarea name="acomp" ng-model-options="{ updateOn: 'blur' }" rows="3" cols="20" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Observación" ng-model="datos2.te_observacion"></textarea>
                            <!-- </div> -->
                          </div>
                          <div class="modal-footer lead text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="recepcionar2(datos2.te_observacion)"><span class="glyphicon glyphicon-ok"></span> GUARDAR</button>
                          </div>
                        </div>
                    </div>
              </div>
                <!--FIN CUADRO MODAL-->
              </td>
               <!-- APROBACIÓN el que no firma-->
                <td ng-if="user.rol_id == '1' || user.rol_id == '17'">
                <!-- BOTON PARA CUADROS MODALES -->
                <button ng-disabled="pt.pt_estado_tramite == 'APROBADO'" class="btn btn-xm btn-warning glyphicon glyphicon-check" data-toggle="modal" ng-click="rec(et.et_id,et.pjur_razon_social)" data-target="#miCuadroModal4" title="Aprobacion de trámite" ></button>
                  <!--CUADRO MODAL-->
                <div id="miCuadroModal4" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title fg-white">APROBACIÓN DE TRÁMITE</h4>
                          </div>
                          <div class="modal-body lead text-center">
                             Aprobación de la persona:
                             <br>
                              <div class="well well-sm">
                                  <strong>{{nombre | uppercase}}</strong>
                              </div>
                              <!-- <div  class=" col-md-8 lead text-center" > -->
                                <label for="acomp" class="control-label ">¿Tiene alguna Observación?</label>
                                <br>
                                <textarea name="acomp" ng-model-options="{ updateOn: 'blur' }" rows="3" cols="20" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Observación" ng-model="datos4.te_observacion"></textarea>
                            <!-- </div> -->
                          </div>
                          <div class="modal-footer lead text-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="recepcionar4(datos4.te_observacion)"><span class="glyphicon glyphicon-ok"></span> GUARDAR</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
                          </div>
                        </div>
                    </div>
              </div>
                <!--FIN CUADRO MODAL-->
              </td>
              <!-- APROBACION 3 -->
                <td ng-if="user.rol_id == '1' || user.rol_id == '17'">
                <!-- BOTON PARA CUADROS MODALES -->
                <button ng-disabled="pt.pt_estado_tramite == 'APROBADO'" class="btn btn-xm btn-warning glyphicon glyphicon-check" data-toggle="modal" ng-click="rec(et.et_id,et.pjur_razon_social)" data-target="#miCuadroModal3" title="Recepción" ></button>
                  <!--CUADRO MODAL-->
                <div id="miCuadroModal3" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title fg-white">APROBACIÓN DE TRÁMITE</h4>
                          </div>
                          <div class="modal-body lead text-center">
                             Aprobación de la persona:
                             <br>
                              <div class="well well-sm">
                                  <strong>{{nombre | uppercase}}</strong>
                              </div>
                              <label for="acomp" class="control-label ">¿Tiene alguna Observación?</label>
                                <br>
                                <textarea name="acomp" ng-model-options="{ updateOn: 'blur' }" rows="3" cols="20" style="resize: vertical;min-height:70px;max-height: 150px;" placeholder="Observación" ng-model="datos3.te_observacion"></textarea>
                             
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="recepcionar3(datos3.te_observacion)"><span class="glyphicon glyphicon-ok"></span> GUARDAR</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
                          </div>
                        </div>
                    </div>
              </div>
                <!--FIN CUADRO MODAL-->
              </td>
           
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>