<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
    <div ng-include="'./templates/menu_lateral.html'"> </div>
    
<!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                   {{ajustes.pagina.titulo}}
                </h2>
                <hr>
            </div>
        </div>
        <!--HERRAMIENTAS PARA LA VISTA-->
        <div class="row">
            <div class="col-md-12">
            <div class="well well-sm">
               <strong class="pull-left lead">Herramientas: &nbsp;</strong>
                <form class="form-inline pull-left">
                <input type="text" class="form-control" placeholder="Filtrar por nombre de municipios" ng-model="searchText">
                </form>
                &nbsp;&nbsp;
                <div ng-show="zon">
                <button class="btn btn-default" onclick="generateIns()"><span class="glyphicon glyphicon-save-file" ></span> Exportar lista en PDF</button>
                </div>
                <div class="clearfix"></div>
                
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" >
                <label class="control-label">Seleccione un Inspector: <strong class="fg_red">*</strong></label>
                  <select class="form-control" name="funcionario" ng-model="funcionario.fun_id"  ng-options="funcionario.fun_id as funcionario.per_nombres+' '+funcionario.per_apellido_primero+' '+funcionario.per_apellido_segundo for funcionario in funcionarios" ng-change="ver_zonas(funcionario.fun_id)" required>
                </select>
                  <span class="messages" ng-show="addPersona.$submitted || addPersona.municipio.$touched">
                    <span ng-show="addPersona.municipio.$error.required">El campo es obligatorio.</span>
               </span>
            </div>
          </div> 
        <br>
        <div class="row" >
            <div class="col-md-12">
            <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
            <!-- INICIO -->
            <div class="table-responsive">
                <!-- <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
                <div ng-show="!loading && !msg">No se encontraron resultados</div>
             -->
                <table class="table table-hovertable table-bordered table-striped table-hover" ng-show="zon" id="table">
                     <thead>
                        <th >Fecha de inspección</th>
                        <th >Empresa</th>
                        <th >Propietario</th>
                        <th >Zona</th> 

                       <!--  <th >Editar</th> 
                        <th >Eliminar</th>  -->
                    </thead>
                    <tbody ng-repeat="zona_inspeccion in zona_inspeccion | orderBy:sortType:sortReverse | filter:searchText">
                      <tr>
                        <td>{{zona_inspeccion.fi_fecha_realizacion }}</td>
                        <td>{{zona_inspeccion.ess_razon_social | uppercase}}</td>
                        <td>{{zona_inspeccion.ess_propietario | uppercase}}</td>
                        <td>{{zona_inspeccion.zon_nombre+', '+zona_inspeccion.ess_avenida_calle+' # '+zona_inspeccion.ess_numero }}</td>
                        <!-- <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#miCuadroModalEditar" ng-click="get_id(parasito.par_id, parasito.par_nombre,parasito.par_descripcion,parasito.par_clasificacion)" title="Editar">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button> -->
                            <!--CUADRO MODAL EDITAR-->
                            <!-- <div id="miCuadroModalEditar" class="modal fade" role="dialog" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header bg-red">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title fg-white">EDITAR PARASITO</h4>
                                  </div>
                                  <div class="modal-body lead text-center">
                                    <br>
                                    <div class="well well-sm">
                                        <strong>{{parasito.par_nombre}}</strong>
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="nomc">Nombre:</label>
                                                        <input name="nomc" type="" class="form-control" id="" ng-model="nombre">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="nomc" class="control-label">Descripción:</label>
                                                        <textarea class="form-control" style="resize: vertical;min-height:100px;max-height: 150px;" ng-model="descripcion"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="nomc" class="control-label">Clasificación:</label>
                                                        <input name="nomc" type="" class="form-control" id="" ng-model="clasificacion">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editar(nombre,descripcion,clasificacion)"><span class="glyphicon glyphicon-save"></span> GUARDAR</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        CANCELAR</button>

                                  </div>
                                  
                                </div>
                              </div>
                            </div> -->
                            <!--FIN CUADRO MODAL-->                                        
                       <!--  </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#miCuadroModalEliminar" ng-click="get_id1(parasito.par_id, parasito.par_nombre)" title="Eliminar">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                             -->
                            <!--CUADRO MODAL ELIMINAR-->
                            <!-- <div id="miCuadroModalEliminar" class="modal fade" role="dialog" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header bg-red">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title fg-white">ELIMINAR PARÁSITO</h4>
                                  </div>
                                  <div class="modal-body lead text-center">
                                    ¿Esta seguro que desea eliminar este Parásito?
                                    <br>
                                    <div class="well well-sm">
                                        <strong>{{nombre}}</strong>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove()"><span class="glyphicon glyphicon-ok"></span> SI</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        NO</button>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                            <!--FIN CUADRO MODAL-->
                        <!-- </td> -->

                        
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- FIN -->
            <!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
            </div>
        </div>
    </div>